.header {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  border-bottom: 1px solid #EEEEEE;

  @include breakpoint(max-height 900px) {
    padding-bottom: 0
  }
  
  &__nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    margin: 0;
    letter-spacing: 1px;
    z-index: 2;

    .active-page {
      a {
        font-family: $GilroyMedium;
        color: #ff4834;
        overflow-x: visible;
      }
      

      &:before {
        transform: translateX(0);
        border-color: #ff4834;
      }
    }

    @include breakpoint(max-width 840px) {
      display: none;
      flex-flow: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 0;
      background-color: rgba(0,0,0, 0.6);
      z-index: 10;
    }

    li {
      display: flex;
      height: 100%;
      list-style: none;
      align-items: center;
      overflow-x: hidden;

      @include breakpoint(max-width 840px) {
        height: auto;
      }

      a {
        position: relative;
        display: flex;
        flex-flow: column;
        align-content: center;
        align-items: center;
        padding: 0 10px;
        font-size: 16px;
        color: #9E9E9E;
        overflow-x: visible;
        transition: opacity 0.2s;

        @include breakpoint(max-width 840px) {
          padding: 20px 0;
          font-size: 18px;
          color: white;
          text-transform: uppercase;
          text-shadow: 0 0 10px #8f97a5;
        }

        span {
          display: block;
          height: 2px;
          width: 20px;
          margin-top: 5px;
          background-color: #fff;
          &:before {
            content:'';
            display: block;
            position: relative;
            margin: 5px 0 3px;
            height: 2px;
            width: 20px;
            background-color: #fff;
          }
          &:after {
            content:'';
            display: block;
            position: relative;
            margin: 3px 0;
            height: 2px;
            width: 20px;
            background-color: #fff;
          }
        }
      }
    }
  }
  &__mobile-btn {
    display: none;
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 20px 0 rgba(117, 117, 117, 0.2);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
    @include breakpoint(max-width 840px) {
      display: block;
    }
    span, span:before, span:after {
      display: block;
      position: relative;
      height: 2px;
      width: 18px;
      background-color: #fff;
      left: 50%;
      margin-left: -9px;
      top: 50%;
      margin-top: -1px;
    }
    span:before {
      position: absolute;
      transition: all 0.2s;
      margin-top: -6px;
      content: '';
    }
    span:after {
      position: absolute;
      transition: all 0.2s;
      margin-top: 4px;
      content: '';
    }
    &--active span {
      background-color: transparent;
      &:before {
        transform: rotate(135deg);
        margin-top: 0;
      }
      &:after {
        transform: rotate(-134deg);
        margin-top: 0;
      }
    }
  }


  .balloon {
    position: absolute;
    left: 30%;
    width: 15%;
    animation: flying 50s linear infinite;

    @include breakpoint(max-width 992px) {
      animation: none;
    }
  }
  
  .clouds {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 300px;
    @include breakpoint(max-width 700px) {
      height: 200px;
    }
  }
  .cloud1 {
    background: url(../img/clouds.png);
  }
  .cloud2 {
    background: url(../img/clouds2.png);
  }
}

.header-index {
  min-height: 100vh;
  background-color: transparent;
  background: url(../img/header-bg.jpg) center top no-repeat;
  background-size: cover;
  border: none;

  @include breakpoint(min-height 660px) {
    min-height: 40vh;
    padding-bottom: 0;
  }

  @include breakpoint(max-height 900px) {
    padding-bottom: 60px;
  }




  .header__nav {
    justify-content: flex-start;
    padding: 20px 0;

    @include breakpoint(max-width 840px) {
      justify-content: center;
      padding: 0;
    }

    li {
      position: static;
      margin-right: 80px;

      @include breakpoint(max-width 840px) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        font-family: $GilroySemibold;
        color: white;
        text-transform: uppercase;
        text-shadow: 0 0 10px #8f97a5;

        @include breakpoint(max-width 840px) {
          font-family: $GilroyMedium;
        }
      }
    }
  }
}

.header__nav-container {
  display: flex;
  height: 100%;

  @include breakpoint(max-width 840px) {
    height: auto;
    flex-direction: column;
  }

  li {
    position: relative;
    margin-right: 40px;

    @include breakpoint(max-width 840px) {
      justify-content: center;
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: translateX(-100%);
      border-bottom: 4px solid #9e9e9e;
      transition: all 0.3s;

      @include breakpoint(max-width 840px) {
        display: none;
      }
    }

    &:hover {
      &:before {
        transform: translateX(0);
        transition: all 0.3s;
      }
    }
  }
}