.header {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #EEEEEE;

  @include breakpoint(max-height 900px) {
    padding-bottom: 0;
  }

  @include breakpoint(max-width 840px) {
    border-bottom: none;
  }
  
  &__nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    margin: 0;
    padding-left: 0;
    letter-spacing: 1px;
    z-index: 2;

    .active-page {      
      &:before {
        background-color: #ff5038;
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    @include breakpoint(max-width 840px) {
      display: none;
      flex-flow: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 0;
      background-color: rgba(0,0,0, 0.6);
      z-index: 10;
    }

    li {
      position: relative;
      display: flex;
      height: 100%;
      list-style: none;
      align-items: center;

      &:first-child {
        margin-left: 30px;

        @include breakpoint(max-width 992px) {
          margin-left: 0;
        }
      }

      .header__submenu {
        position: absolute;
        top: 75px;
        left: 0;
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.7);

        li {
          width: 100%;
        }

        a {
          padding: 7px 15px;
          font-size: 14px;
          color: white;
          text-transform: none;
        }
      }

      .header__submenu_mob {
        @include breakpoint(max-width 840px) {
          position: fixed;
          top: 0;
          left: 0;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          height: 100%;

          li {
            width: auto;
          }
        }
      }


      @include breakpoint(max-width 840px) {
        height: auto;
      }

      a,
      .dropdown {
        position: relative;
        z-index: 2;
        display: flex;
        flex-flow: column;
        align-content: center;
        align-items: center;
        padding: 0 10px;
        font-weight: bold;
        font-size: 14px;
        color: white;
        background-color: transparent;
        border: none;
        overflow-x: visible;
        transition: opacity 0.2s;
        cursor: pointer;

        @include breakpoint(max-width 840px) {
          padding: 20px 0;
          font-size: 18px;
          color: white;
          text-transform: uppercase;
          text-shadow: 0 0 10px #8f97a5;
        }

        span {
          display: block;
          height: 2px;
          width: 20px;
          margin-top: 5px;
          background-color: #fff;

          &:before {
            content:'';
            display: block;
            position: relative;
            margin: 5px 0 3px;
            height: 2px;
            width: 20px;
            background-color: #fff;
          }
          &:after {
            content:'';
            display: block;
            position: relative;
            margin: 3px 0;
            height: 2px;
            width: 20px;
            background-color: #fff;
          }
        }


      }
    }
  }
  &__mobile-btn {
    display: none;
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 20px 0 rgba(117, 117, 117, 0.2);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
    @include breakpoint(max-width 840px) {
      display: block;
    }
    span, span:before, span:after {
      display: block;
      position: relative;
      height: 2px;
      width: 18px;
      background-color: #fff;
      left: 50%;
      margin-left: -9px;
      top: 50%;
      margin-top: -1px;
    }
    span:before {
      position: absolute;
      transition: all 0.2s;
      margin-top: -6px;
      content: '';
    }
    span:after {
      position: absolute;
      transition: all 0.2s;
      margin-top: 4px;
      content: '';
    }
    &--active span {
      background-color: transparent;
      &:before {
        transform: rotate(135deg);
        margin-top: 0;
      }
      &:after {
        transform: rotate(-134deg);
        margin-top: 0;
      }
    }

    &--submenu span {
      background-color: transparent;
      &:before {
        transform: rotate(140deg);
        margin-top: 0;
        top: -5px;
        left: 6px;
      }
      &:after {
        transform: rotate(-140deg);
        margin-top: 0;
        top: 6px;
        left: 6px;
      }
    }
  }


  .balloon {
    position: absolute;
    left: 30%;
    width: 15%;
    animation: flying 50s linear infinite;

    @include breakpoint(max-width 992px) {
      animation: none;
    }
  }
  
  .clouds {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 300px;
    @include breakpoint(max-width 700px) {
      height: 200px;
    }
  }
  .cloud1 {
    background: url(../img/clouds.png);
  }
  .cloud2 {
    background: url(../img/clouds2.png);
  }
}

.header-index {
  min-height: 100vh;
  background-color: transparent;
  background: url(../img/header-bg.jpg) center top no-repeat;
  background-size: cover;
  border: none;
  padding-bottom: 60px;
  z-index: 999;

  /*.header__nav {
    justify-content: flex-start;
    padding: 20px 0;

    @include breakpoint(max-width 840px) {
      justify-content: center;
      padding: 0;
    }

    li {
      margin-right: 50px;

      @include breakpoint(max-width 1200px) {
        margin-right: 25px;
      }

      @include breakpoint(max-width 840px) {
        margin-right: 0;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .header__submenu {
        top: 55px;
        width: auto;

        a {
          color: white;
          text-transform: none;
        }
      }

      .header__submenu_mob {
        @include breakpoint(max-width 840px) {
          top: 0;
        width: 100%;
        }
      }

      a,
      .dropdown {
        font-family: $GilroySemibold;
        color: white;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        text-shadow: 0 0 10px #8f97a5;
        transition: opacity 0.2s;

        &:hover, &:active, &:focus {
          opacity: 0.8;
          transition: opacity 0.2s;
        }

        @include breakpoint(max-width 840px) {
          font-family: $GilroyMedium;
        }
      }
    }
  }*/
}

.header__nav-container {
  display: flex;
  height: 100%;
  padding: 0;

  @include breakpoint(max-width 840px) {
    height: auto;
    flex-direction: column;
  }

  li {
    margin-right: 15px;
    @include breakpoint(max-width 840px) {
      justify-content: center;
    }

    &:first-child {
      margin-left: 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 4px;
      bottom: 0;
      left: 0;
      background-color: $red;
      transform-origin: bottom left;
      transition: transform 0.25s ease-out;

      @include breakpoint(max-width 840px) {
        display: none;
      }
    }

    &:hover {
      &:before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}

.submenu_mob {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  li {
    width: auto;
  }
}

.hidden_links {
  display: none !important;
}

@media (max-width: 992px) and (min-height: 400px) {
  .header-index {
    min-height: 105vh;
  }
}

@media (max-width: 992px) and (min-height: 800px) {
  .header-index {
    min-height: 49vh;
  }
}

@media (max-width: 480px) and (min-height: 480px) {
  .header-index {
    min-height: 40vh;
  }
}