.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: url(../img/header-bg.png) center top no-repeat;
  background-size: cover;
  overflow: hidden;
  @include breakpoint(max-width 700px) {
    min-height: 57vh;
  }

  @include breakpoint(max-width 450px) {
     background-size: 180%;
  }
  &__nav {
    margin: 0;
    padding: 52px 0;
    position: relative;
    display: flex;
    align-content: center;
    z-index: 2;
    @include breakpoint(max-width 840px) {
      display: none;
      flex-flow: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 0;
      background-color: rgba(0,0,0, .6);
      z-index: 10;
      li {
        position: relative;
        margin-right: 0 !important;
        margin-bottom: 30px;
        &:first-of-type {
          display: none;
        }
      }
    }
    li {
      list-style: none;
      margin-right: 80px;
      align-items: center;
      &:first-of-type {
        margin-right: 50px;
      }
      a {
        display: flex;
        flex-flow: column;
        align-content: center;
        align-items: center;
        font-family: $GilroySemibold;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 0 0 10px #8f97a5;
        transition: opacity 0.2s;
        &:hover, &:active, &:focus {
          opacity: 0.8;
          transition: opacity 0.2s;
        }
        span {
          display: block;
          height: 2px;
          width: 20px;
          margin-top: 5px;
          background-color: #fff;
          &:before {
            content:'';
            display: block;
            position: relative;
            margin: 5px 0 3px;
            height: 2px;
            width: 20px;
            background-color: #fff;
          }
          &:after {
            content:'';
            display: block;
            position: relative;
            margin: 3px 0;
            height: 2px;
            width: 20px;
            background-color: #fff;
          }
        }
      }
    }
  }
  &__mobile-btn {
    display: none;
    position: fixed;
    right: 20px;
    top: 35px;
    background-color: #cccccc;
    box-shadow: 0 0 20px 0 #000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
    @include breakpoint(max-width 840px) {
      display: block;
    }
    span, span:before, span:after {
      display: block;
      position: relative;
      height: 2px;
      width: 18px;
      background-color: #fff;
      left: 50%;
      margin-left: -9px;
      top: 50%;
      margin-top: -1px;
    }
    span:before {
      position: absolute;
      transition: all 0.2s;
      margin-top: -6px;
      content: '';
    }
    span:after {
      position: absolute;
      transition: all 0.2s;
      margin-top: 4px;
      content: '';
    }
    &--active span {
      background-color: transparent;
      &:before {
        transform: rotate(135deg);
        margin-top: 0;
      }
      &:after {
        transform: rotate(-134deg);
        margin-top: 0;
      }
    }
  }


  .balloon {
    position: absolute;
    left: 30%;
    width: 15%;
    animation: flying 50s linear infinite;

    @include breakpoint(max-width 992px) {
      animation: none;
    }
  }
  
  .clouds {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 300px;
    @include breakpoint(max-width 700px) {
      height: 200px;
    }
  }
  .cloud1 {
    background: url(../img/clouds.png);
  }
  .cloud2 {
    background: url(../img/clouds2.png);
  }

}


