.about__content {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.key {
	min-width: 450px;
	padding: 35px 70px;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.7)),
				url(../img/key-bg.jpg)	;
	background-size: cover;
	box-sizing: border-box;

	&__head-sub {
		margin-top: 10px;
	}

	&__title,
	&__sub-title {
		margin: 0;
		font-family: 'BebasNeueBold', sans-serif;
		font-size: 70px;
		font-weight: normal;
		color: white;
		text-transform: uppercase;
	}

	&__sub-title {
		font-size: 47px;
	}

	&__desc {
		position: relative;
		padding-left: 25px;
		font-family: $GilroyMedium;
		list-style: none;

		li {
			margin-top: 10px;
			line-height: 1;

			&:first-child {
				margin-top: 0;
			}
		}

		&-link {
			color: white;
			transition: color 0.2s;

			&:hover, &:active, &:focus {
				color: $red;
				transition: color 0.2s;
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			width: 1px;
			height: 40px;
			background-color: white;
		}
	}

	.red_btn {
		margin-top: 40px;
	}
}

.pros {
	width: calc(100% - 550px);

	&__title {
		margin: 0;
		font-family: $GilroySemibold;
		font-size: 30px;
		line-height: 0.8;
	}

	&__desc {
		padding: 0;
		list-style: none;
	}

	&__element {
		display: flex;
		align-items: center;
		margin-top: 40px;
		font-family: $GilroyMedium;

		img {
			margin-right: 20px;
		}
	}
}

.feedback {
	margin-top: 40px;

	&__content {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;

		.slick-list {
			width: 530px;
			padding: 0;
		}
	}

	&__slide {
		position: relative;
		padding: 20px 0;
		background-image: url(../img/slide-bg.jpg);
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: 20px;

		&-link {
			width: calc(100% - 30px);
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			margin-left: auto;
		}

		&-img {
			padding-top: 15px;
			padding-bottom: 5px;
			background-color: $red;
		}

		&-comment {
			position: absolute;
			top: 75px;
			left: -42px;
			margin: 0;
			font-size: 10px;
			text-transform: uppercase;
			transform: rotate(-90deg);
		}
	}

	&__social {
		.soc__block {
			margin-top: 25px;
		}

		.soc__desc {
			width: 200px;
		}
	}
}

.partners {
	margin-top: 70px;

	&__blocks {
		display: flex;
		flex-wrap: wrap;
		margin-top: 30px;
	}

	&__block {
		margin-right: 75px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.vacancies {
	margin-top: 70px;

	&__content {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}

	&__list {
		width: 50%;
		margin: 0;
		margin-right: 40px;
		padding: 0;
		list-style: none;
	}

	&__vacancy {
		display: flex;
		align-items: center;
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}

		&-title {
			margin: 0;
			font-family: $GilroySemibold;
			font-weight: normal;
		}

		&-img {
			margin-right: 20px;
		}

		&-text {
			margin: 0;
			font-family: $GilroyMedium;

			&_grey {
				font-family: $GilroyRegularItalic;
				color: #828181;
			}
		}

		&_actual {
			display: block;
			margin-top: 10px;
			padding-left: 50px;
		}
	}

	&__actual {
		position: relative;
		margin-top: 10px;
		padding-left: 30px;
		list-style: none;

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			width: 1px;
			height: 70% ;
			background-color: $red;
		}
	}

	&__send {
		width: 45%;

		&-img {
			margin-right: 20px; 
		}
	}

	&__wrap {
		display: flex;
	}

	&__desc {

		&-title {
			margin: 0;
			font-family: $GilroySemibold;
			font-weight: normal;
			font-size: 30px;
			text-transform: uppercase;
			line-height: 1.1;
		}

		&-comment {
			margin: 0;
			margin-top: 10px;
			font-family: $GilroyRegularItalic;
			line-height: 1.1;
			color: #828181;
		}
	}
	.red_btn {
		width: 250px;
		margin-top: 30px;
		margin-right: auto;
		margin-left: 0;
	}
}

.main-about {
	.blog {
		.paragraph {
			top: 71px;
			left: -14px;
		}
	}

	.brief {
		padding-top: 0;
	}
}

.blog_about {
	padding-bottom: 50px;
}

.red_btn {
	display: block;
	width: 220px;
	margin: 0 auto;
	padding: 10px 0;
	font-family: GilroySemibold,sans-serif;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background-color: #ff5038;
	box-sizing: border-box;
	border-radius: 20px;
	transition: transform 0.2s;

	&:hover, &:active, &:focus {
		color: #fff;
		transform: scale(0.9);
		transition: transform 0.2s
	}
}

.red-letter {
	color: #ff5038;
}

.red-text {
	font-family: $GilroyExtrabold;
	color: #ff5038;
}