.all-sections {
  position: relative;
  z-index: 1;
  padding: 0 0 20px;
  overflow: hidden;
  &__title {
    margin: 0;
  }
  &__tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    @media (max-width: 1199px) {
      justify-content: center;
    }
  }
  &__tab {
    $padding-h: 15px;
    $padding-v: 12px;
    $img-size: 16px;
    $img-margin: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    margin: 15px;
    padding: $padding-v $padding-h;
    color: $red;
    font-size: 15px;
    font-weight: 700;
    border-radius: 22px;
    border: 1px dotted $red;
    box-sizing: border-box;
    &:focus {
      color: $red;
    }
    &:hover,
    &.tab-active {
      padding: $padding-v $padding-h + ($img-size + $img-margin) / 2;
      color: #ffffff;
      background-color: $red;
      img {
        display: none;
      }
    }
    img {
      width: $img-size;
      margin-right: $img-margin;
      margin-bottom: 2px;
    }
    &.tab-active {
      &:after {
        position: absolute;
        content: '';
        top: 100%;
        left: 25px;
        border: 4px solid transparent;
        border-top: 8px solid $red;
      }
    }
  }
  &__content {
    padding: 20px 0;
    font-size: 15px;
    color: $darkGrey;
  }
  &__scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    color: #9ea2a9;
    span {
      position: relative;
      margin-left: 40px;
      &:before {
        position: absolute;
        content: '';
        top: 48%;
        right: calc(100% + 15px);
        width: 14px;
        height: 1px;
        background-color: #9ea2a9;
      }
    }
  }
}