.all-services-section {
  padding-bottom: 55px;
}

.all-services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

.services-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border-right: 1px solid #eeeeee;
  padding-right: 100px;
}

.services-text {
  margin-left: 80px;
}

.services-bottom .btn_services {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: 700;
  outline: none;
}

.services-bottom .btn_services.activeServices {
  color: red;
  position: relative;
}

.services-bottom .activeServices:after {
  content: "";
  background: url(../img/right-arrow-act.png) no-repeat;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 19px;
  height: 14px;
  top: 7px;
  left: 110%;
  color: red;
  background-size: contain;
}

.services_item {
  display: none;
  flex-direction: column;
}

.services_item h4 {
  margin: 0;
  margin-top: 20px;
}

.novelty-red-title {
  color: #ff4834;
}

.novelty-black-title {
  color: #282828;
}

.all-services-section .services_item-p {
  font-family: GilroyM, sans-serif;
  font-style: normal;
  line-height: 1.5;
}

.services_item-ul {
  font-family: GilroySemibold, sans-serif;
  text-align: left;
  padding-left: 20px;
}

.services_item-li {
  margin-bottom: 15px;
}

.services_item-more {
  display: inline-block;
  width: 100px;
  border: 1px solid #e8e8e8;
  padding: 7px 15px;
  color: #828181;
  font-family: GilroyMedium,sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 15px;
  transition: all .2s;
}

.services_item-more:hover {
  -webkit-transform: scale(.9);
  transform: scale(.9);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

@media (max-width: 1000px) {
  .services-bottom {
    align-items: center;
    margin-right: 10px;
  }
}