.all-services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.services-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-right: 50px;
}

.services-bottom .btn_services {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 700;
  outline: none;
}

.services-bottom .btn_services.activeServices {
  color: red;
  position: relative;
}

.services-bottom .activeServices:after {
  content: "\2192";
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 100%;
  color: red;
}

.services_item {
  display: none;
  flex-direction: column;
}

.services_item h4 {
  margin: 0;
  margin-top: 20px;
}

.novelty-red-title {
  color: #ff4834;
}

.services_item-ul {
  font-family: GilroySemibold, sans-serif;
  text-align: left;
}

.services_item-more {
  display: inline-block;
  width: 100px;
  border: 1px solid #e8e8e8;
  padding: 7px 15px;
  color: #828181;
  font-family: GilroyMedium,sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 15px;
  transition: all .2s;
}

.services_item-more:hover {
  -webkit-transform: scale(.9);
  transform: scale(.9);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

//@media (max-width: 620px) {
//  .services_item-more {
//    margin-top: 10px;
//  }
//}