.blog {
  position: relative;
  width: 100%;
  padding: 0 0 60px;
  overflow: hidden;

  .paragraph {
    left: -31px;
    top: 45px;
    letter-spacing: 0.2px;
  }
  .wrap {
    margin-left: 7%;

    @include breakpoint(max-width 576px) {
      margin: 0 auto;
    }
  }
  .tittle {
    p {
      max-width: 600px;
    }
  }
  &-one {
    padding-bottom: 0 !important;
    background-image: none !important;
  }
  &__slider-content {
    display: flex;
    justify-content: space-between;
    @include breakpoint(max-width 576px) {
      display: block;
    }
  }
  &-main__title {
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'BebasNeueBold';
    letter-spacing: 1.66px;
  }
  &__link {
    margin-top: auto;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
  &__block-link_main {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 50px 40px;
    margin-top: 60px;
    margin-left: 42px;
    height: 270px;
    width: 395px;
    background-color: $red;
    box-sizing: border-box;
    @include breakpoint(max-width 988px) {
      height: 200px;
      width: 300px;
    }
    @include breakpoint(max-width 576px) {
      position: relative;
      margin-left: 0;
      width: fit-content;
      height: unset;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .blog__link {
      bottom: 20%;
    }
  }
  &__slider {
    &--wrap {
      margin-top: 30px;
      margin-left: 42px;
      margin-bottom: 120px;
      .slick-list {
        margin-left: 437px;
        @include breakpoint(max-width 1024px) {
          margin: 0 auto 0 440px;
        }
        @include breakpoint(max-width 998px) {
          margin: 0 auto 0 340px;
        }
        @include breakpoint(max-width 800px) {
          margin: 0 auto 0 300px;
        }
        @include breakpoint(max-width 576px) {
          margin-top: 10px;
        }
      }
      @include breakpoint(max-width 576px) {
        margin: 0 auto;
        .slick-list {
          padding: 30px 0 !important;
          width: auto !important;
          margin: 0 10px;
          //@include breakpoint(max-width 440px) {
          //  margin: 0;
          //}
        }
      }
    }
    &--slide {
      position: relative;
      width: 395px;
      height: 270px;
      margin-right: 38px;

      @include breakpoint(max-width 988px) {
        width: 300px;
        height: 200px;
      }

      @include breakpoint(max-width 576px) {
        margin: 0 15px;
        //margin-right: 30px;
        //width: 395px !important;
        height: 270px;
      }
      @include breakpoint(max-width 440px) {
        margin: 0;
      }
      &:focus {
        outline:none;
      }
      &:hover {
        @include breakpoint(min-width 577px) {
          .slide__hover {
            opacity: 1;
            transition: .5s;
          }

          .slide__title {
            opacity: 0;
            transition: 0.5s;
          }
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .slide__title {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 30px 35px;
        background-image: linear-gradient(to top, #222222, transparent);
        box-sizing: border-box;
        opacity: 1;
        transition: 0.5s;

        .slide__post-title {
          position: relative;
          top: 77%;
          margin: 0;
          font-family: $GilroyMedium;
          font-size: 20px;
          font-weight: normal;
          color: white;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          text-align: left;
          @include breakpoint(max-width 992px) {
            top: 67%;
          }
        }

        .slide__post-time {
          position: absolute;
          bottom: 27px;
          font-size: 14px;
          color: white;
        }
      }
      .slide__hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $GilroyRegular;
        font-size: 18px;
        position: absolute;
        color: #fff;
        padding: 15px;
        box-sizing: border-box;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        align-items: center;
        align-content: center;
        background-color: rgba(40, 40, 40, 0.8);
        transition: .5s;
        opacity: 0;

        span {
          max-width: 270px;
          display: block;
          margin: 0 auto;
          font-size: 18px !important;
          font-family: $GilroyRegular !important;
          letter-spacing: 0.9px;
          color: #fff !important;

          @include breakpoint(max-width 769px) {
            display: none;
          }
        }

        a {
          display: block;
          width: 220px;
          margin-top: 25px;
          font-family: $GilroySemibold;
          font-size: 16px;
          color: #fff;
          background-color: $red;
          padding: 10px 0;
          box-sizing: border-box;
          border-radius: 20px;
          transition: all 0.2s;

            @include breakpoint(max-width 769px) {
              display: block;
              width: 100%;
              height: 100%;
              margin: 0;
              padding: 0;
              border: none;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              opacity: 0;
            }

          &:hover, &:active, &:focus {
            transform: scale(0.9);
            transition: all 0.2s;
          }
        }
      }
    }
  }



  .slick-list {
    padding: 30px 0;
    width:2000px;
  }

}

.blog__blocks {
  display: flex;
  flex-wrap: wrap;

  .blog__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32.3%;
    height: 550px;
    margin-right: 1%;
    padding: 30px;
    box-sizing: border-box;
    transition: all .2s ease-out;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover {
      @include breakpoint(min-width 992px) {
        box-shadow: 0 15px 33px 0 rgba(153, 130, 161, .18);
        transform: scale(1.02);
        transition: all 0.2s ease-out;
      }
    }

    @include breakpoint(max-width 1200px) {
      width: 50%;
      margin-right: 0;
    }

    @include breakpoint(max-width 992px) {
      padding: 15px;
    }

    @include breakpoint(max-width 768px) {
      padding: 10px;
    }

    @include breakpoint(max-width 576px) {
      width: 100%;
      height: 500px;
    }

    @include breakpoint(max-width 400px) {
      height: 530px;
      padding: 10px 0;
    }
  }

  .blog__block-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .blog__block-title {
    height: 60px;
    margin: 0;
    margin-top: 15px;
    overflow: hidden;
  }

  .blog__block-link {
    color: #282828;
  }

  .blog__block-text {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.4;
    color: #282828;
  }

  .blog__block-footer {
    display: flex;
    justify-content: space-between;
  }

  .blog__block-more {
    display: flex;

    span {
      margin-right: 5px;
      font-size: 13px;
      color: #ff5038;

      &:hover {
        color: #D32F2F;
      }
    }

    .blog__block-arrow {
      position: relative;
      top: 2px;
      display: block;
      width: 10px;
      height: 12px;
      background-image: url(../img/right-blog.svg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    &:hover {
      .blog__block-arrow {
        background-image: url(../img/right-blog-hover.svg);
      }
    }
  }

  .blog__block-time {
    font-size: 13px;
    color: #757575
  }
}

.gallery__block-link {
  position: absolute;
  right: 12%;
  left: 0;
  bottom: 7%;
  display: block;
  width: 220px;
  margin: 0 auto;
  padding: 10px 0;
  font-family: $GilroySemibold;
  font-size: 16px;
  color: white;
  text-align: center;
  background-color: #ff5038;
  box-sizing: border-box;
  border-radius: 20px;
  transition: transform 0.2s;
  z-index: 1;

  &:hover, &:active, &:focus {
    color: white;
    transform: scale(0.9);
    transition: transform 0.2s;
  }
}
.main__single-p,
.main-portfolio,
.all-news,
.single-post,
.main-about,
.main-feedback,
.main-vacancy,
.main-service {
  .broadcrumbs {
    position: relative;
    top: -6px;
    margin-left: 7%;
    line-height: 1;

    @include breakpoint(max-width 576px) {
      display: none;
    }
  }

  .blog .paragraph {
    top: 135px;
  }

  .wrap {
    width: 93%;
    //margin-top: 80px;

    @include breakpoint(max-width 576px) {
      margin-top: 60px;
    }
  }
}

.single-post .blog .paragraph {
  top: 105px;
}

.blog-main-link {
  margin: 0;
}

//blog-single

.blog-single-title {
  font-family: GilroyExtrabold,sans-serif;
  font-size: 36px;
  margin: 0;
  margin-top: -12px;
  margin-bottom: 20px;
}

.blog-single {
  &__content {
    display: flex;
    @include breakpoint(max-width 992px) {
      flex-wrap: wrap;
    }
  }
  &__main {
    width: 66%;
    .gallery__block-link {
      margin-top: 50px;
      width: 250px;
    }
    &-img {
      max-width: 100%;
    }
    @include breakpoint(max-width 992px) {
      width: 100%;
    }
  }
  &__text {
    p {
      margin: 23px 0;
      line-height: 1.5em;
    }
  }
  &__aside {
    width: 34%;
    padding-left: 50px;
    height: max-content;
    @include breakpoint(max-width 992px) {
      width: 100%;
      padding: 0;
    }
  }
  &__gallery {
    position: relative;
    height: 210px;
    max-width: 350px;
    //background-image: url(../img/ssm-gallery.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include breakpoint(max-width 992px) {
      margin: 50px auto 0;
    }
    @include breakpoint(max-width 426px) {
      display: none;
    }
    .gallery__block-link {
      width: 140px;
      left: 44%;
      bottom: 13%;
    }
    .blog__link {
      bottom: 13%;
    }
  }
}

.blog-single__other {
  margin-top: 40px;
  &-title {
    text-align: center;
    width: 100%;
  }
  @include breakpoint(max-width 992px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include breakpoint(max-width 426px) {
    margin-top: 0;
  }
}

.blog__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 250px;
  max-width: 350px;
  min-width: 300px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 -100px 90px -60px #000 inset;
  &_desc {
    position: relative;
    bottom: 10%;
    left: 8%;
    width: 40%;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    z-index: 1;
  }
  .gallery__block-link {
    font-size: 14px;
    width: 120px;
    padding: 8px 0;
    left: 50%;
  }
  &_design {
    //background-image: url(../img/service1.png);
  }
  &_branding {
    //background-image: url(../img/service2.png);
  }
  &_logo {
    //background-image: url(../img/service3.png);
    @include breakpoint(max-width 660px) {
      display: none;
    }
  }
  &_dev {
    //background-image: url(../img/service4.png);
    @include breakpoint(max-width 660px) {
      display: none;
    }
  }
}

.blog-item-img {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.blog-link-mob {
  display: none;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .blog__item {
    width: 310px;
  }
  .blog-single__gallery {
    width: 310px;
  }
  .blog-single__aside {
    max-width: 350px;
    min-width: 310px;
  }
}

@media (max-width: 992px) {
  .blog__item {
    width: 300px;
    margin-right: 0;
  }
  .blog-link-mob {
    display: block;
  }
  .blog-link-pc {
    display: none;
  }
  .blog__link {
    width: 140px;
    right: 20%;
  }
  .blog__block-link_main .blog__link {
    bottom: 13%;
  }
  .blog-single__content, .blog-single-title {
    text-align: center;
  }
  .blog-single__content .sidebarBlog {
    max-width: 100%;
  }
  .blog-single__content .blog-item-img {
    position: relative;
  }
}

@media (max-width: 576px) {
  .blog .wrap {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 426px) {
  .blog__item {
    width: 100%;
    max-width: 100%;
  }
  .blog-single-title {
    margin-top: 60px;
    text-align: center;
  }
  .blog__link, .gallery__block-link {
    bottom: 22%;
  }
  .blog-single__content .sidebarBlog {
    max-width: 100%;
  }
}

@media (max-width: 376px) {
  .blog__slider--slide .slide__title .slide__post-title {
    width: 220px;
  }
}

@media (max-width: 576px) and (min-width: 439px) {
  .blog__slider--wrap {
    width: 445px;
  }
}

.prevArrow-blog {
  left: 207px !important;
  @media (max-width: 576px) {
    left: 13% !important;
  }
}

.nextArrow-blogsvg,
.prevArrow-blogsvg {
  width: 100%;
  height: 100%;
}

.nextArrow-blog,
.prevArrow-blog {
  bottom: 71px;
  z-index: 2;
  width: 18px;
  height: 14px;
  padding: 0;
  path {
    fill: #fff;
  }
  &:hover {
    path {
      fill: #000 !important;
    }
  }
}

.nextArrow-blog {
  left: 330px !important;
  @media (max-width: 576px) {
    left: 73% !important;
  }
}

.blog__slider--wrap {
  .slick-dots {
    z-index: 2;
    bottom: 67px;
    left: 240px;
    width: unset;
    li {
      height: 7px;
      width: 7px;
      border-radius: 50%;
      border: 1px solid #fff;
      button {
        display: none;
      }
    }
  }
}

.blog-single__text p,
.blog-single__text a,
.blog-single__text span,
.blog-single__text li,
.blog-single__text h1,
.blog-single__text h2,
.blog-single__text h3,
.blog-single__text h4,
.blog-single__text h5,
.blog-single__text h6 {
  font-family: GilroyRegular,sans-serif !important;
}

.blog-single__text img {
  max-width: 100%;
  height: auto!important;
}
