.brief {
  width: 100%;
  padding-top: 30px;
  position: relative;
  padding-bottom: 708px;
  background: url(../img/footer-bg-3.jpg) center bottom no-repeat;
  background-size: contain;
  overflow: hidden;
  //box-shadow: inset 0px 10px 30px 0px rgba(255, 255, 255, 1);

  @include breakpoint(max-width 600px) {
    padding-top: 30px;
    padding-bottom: 520px;
  }

  .paragraph {
    top: 47px;
    left: -32px;
    letter-spacing: 0.6px;

    @include breakpoint(max-width 768px) {
      display: none;
    }
  }

  .wrap {
    margin-left: 7%;

    @include breakpoint(max-width 576px) {
      margin-left: 0;
    }
  }

  .animate-circle {
    display: none;
  }

  .tittle h2 {
    margin-left: 141px;
    padding-top: 36px;
    letter-spacing: -1px;

    @include breakpoint(max-width 992px) {
      margin-left: 0;
      padding-top: 30px;
    }
  }

  .tittle p {
    max-width: 445px;
    width: 100%;

    @include breakpoint(max-width 992px) {
      margin: 14px auto;
    }
  }

  .fill-brief {
    position: absolute;
    bottom: 300px;
    left: 33vw;
    font-family: GilroyExtrabold,sans-serif;
    font-size: 50px;
    color: $black;
    text-transform: uppercase;
    letter-spacing: -0.4px;

    //@media (max-width: 2000px) {
      //  .brief .fill-brief {
      //    bottom: 389px;
      //    font-size: 66px;
      //  }
      //}
      //
      //@media (max-width: 6000px) {
      //  .brief .fill-brief {
      //    bottom: 600px;
      //    font-size: 100px;
      //  }
      //}

    @include breakpoint(max-width 6000px) {
      bottom: 435px;
      font-size: 78px;
      left: 31vw;
    }
    @include breakpoint(max-width 2000px) {
      bottom: 389px;
      font-size: 66px;
    }
    @include breakpoint(max-width 1500px) {
      bottom: 300px;
      font-size: 50px;
    }
    @include breakpoint(max-width 1200px) {
      bottom: 385px;
      right: 0;
      left: 0;
      text-align: center;
      font-size: 50px;
    }

    @include breakpoint(max-width 992px) {
      bottom: 400px;
    }

    @include breakpoint(max-width 930px) {
      font-size: 40px;
      bottom: 425px;
    }

    @include breakpoint(max-width 630px) {
      bottom: 550px;
      top: auto;
    }

    @include breakpoint(max-width 600px) {
      bottom: 350px;
      top: auto;
      font-size: 10vw;
    }

    span {
      display: block;
      font-family: $GilroyExtrabold;
      font-size: 65px;

      @include breakpoint(max-width 930px) {
        font-size: 40px;
      }

      @include breakpoint(max-width 576px) {
        font-size: 7vw;
      }
    }
  }


  .brief__content {
    display: flex;
    align-items: center;
    margin-left: 7%;

    @include breakpoint(max-width 1200px) {
      margin: 0 auto;
      justify-content: center;
      flex-wrap: wrap;
    }

    @include breakpoint(max-width 992px) {
      margin-top: 30px;
    }
  }

 
  .brief__contacts {
    color: #282828;

    @include breakpoint(max-width 1200px) {
      margin-top: 50px;
    }

    h3 {
      margin: 0;
      font-family: $GilroyRegular;
      font-size: 30px;
      text-align: center;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;

      strong {
        margin-right: 10px;
        font-family: $GilroyMedium;
      }

      img {
        margin-right: 10px;

        &:last-child {
          margin-right: 20px;
        }
      }
    }

    .brief__social a {
        img {
          margin-right: 10px;
        }
      }

      .brief__messengers a,
      .brief__social a {
        transition: transform 0.2s;
        &:hover, &:active, &:focus {
          transform: scale(0.9);
          transition: transform 0.2s;
        }
      }
    
    .brief__tel {
      margin-top: 62px;

      strong {
        font-size: 23px;
        letter-spacing: 0.2px;
      }
    }

    .brief__social,
    .brief__messengers,
    .brief__email {
      letter-spacing: -0.4px;
    }

    .brief__email {

      a {
        font-family: $GilroySemibold;
        color: #ee4635;
        text-decoration: underline;

        &:hover, &:active, &:focus {
          text-decoration: none;
        }
      }
    }
  }
  .balloon {
    position: absolute;
    bottom: 300px;
    left: 200px;
    animation: flying 50s linear infinite;
    z-index: 2;
    @include breakpoint(max-width 1250px) {
      left: auto;
      right: 40% ;
      bottom: 100px;
    }
    @include breakpoint(max-width 992px) {
      animation: none;
    }
    @include breakpoint(max-width 600px) {
      width: 200px;
      bottom: 120px;
    }
    @include breakpoint(max-width 320px) {
      bottom: 95px;
      right: 25%;
    }
  }
}



.uploader {
  margin-top: 20px;
}

.single-post {
  .blog__slider {
    margin-top: 70px;
  }

  .blog__slider--wrap {
    margin-top: 0;
    margin-left: 0;

    .slick-list {
      padding-top: 0;
    }
  }

  
}

.all-news {
  .blog .paragraph {
    top: 120px;
  }

  .brief {
    padding-top: 0;
  }
}

.main-portfolio,
.main__single-p {
  .blog {
    padding-bottom: 60px;
    
    .paragraph {
      left: -46px;
    }
  }


  .brief .wrap {
    margin-top: 0;
  }
}

.main-portfolio {
  .brief {
    padding-top: 35px;

    @include breakpoint(max-width 768px) {
      padding-top: 0;
    }
  }

  .wrapper {
    margin-bottom: 0;
  }
}

.main__single-p  {
  .wrap {
    margin-top: 70px;
  }
}

@media (max-width: 992px) {
  .main__single-p .wrap {
    margin-top: 60px;
    flex-direction: column-reverse;
  }
}

.service__form-radio_text {
  padding-left: 22px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #282828;
  font-family: GilroySemibold,sans-serif;
  font-weight: 400;
}

.service__form-radio-button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 75px;
}

.service__form-radio-item label {
  width: max-content;
  cursor: pointer;
}

.service__form-radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-item {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 5px;
  height: 12px;
  width: 12px;
  border-radius: 5px;
  background-color: #E6E6E6;
}

/* On mouse-over, add a grey background color */
//.checkbox-item:hover input ~ .checkmark {
//  //background-color: #ccc;
//  border: 1px solid #9fa3a7;
//}

/* When the radio button is checked, add a blue background */
.checkbox-item input:checked ~ .checkmark {
  top: 2px;
  left: 5px;
  width: 13px;
  height: 13px;
  display: inline-block;
  background-color: #ff5038;
  font-size: 0;
  box-sizing: border-box;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: relative;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox-item input:checked ~ .checkmark:after {
  display: block;
  background: url(../img/icons/check.svg) no-repeat 50% 50%;
  background-size: contain;
}

/* Style the indicator (dot/circle) */
.checkbox-item .checkmark:after {
  top: 2.3px;
  left: 20%;
  width: 8px;
  height: 8px;
  background: white;
  //transform: translate(-50%, -50%);
}

@media (min-width: 1500px) {
  .checkbox-item .checkmark:after {
    left: 2.3px;
  }
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.help-block {
  padding: 10px 0;
  position: relative;
  text-align: center;
  color: rgba(255,5,0,0.99);
}

.brief-massage {
  padding: 30px;
  position: absolute;
  width: 350px;
  height: 350px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 999;
  box-shadow: 0 10px 80px rgba(0,0,0,.13);
}

.brief-massage-active {
  display: flex;
}


.brief-massage h2, .phone-brief-massage h2 {
  font-family: GilroyBold,sans-serif;
  font-size: 36px;
}

.brief-massage p, .phone-brief-massage p {
  margin: 0;
  font-family: GilroyMedium,sans-serif;
  font-size: 16px;
}

.brief-massage p a, .phone-brief-massage p a {
  color: #ff7f6d;
  text-decoration: none;
}

.brief-massage p a:hover, .phone-brief-massage p a:hover {
  color: #ff7f6d;
  text-decoration: none;
}

.brief-massage-close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 20px;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.brief-massage-close span {
  width: 20px;
  height: 3px;
  display: block;
  background-color: #acacac;
}

.brief-massage-close span:first-child {
  position: relative;
  transform: rotate(45deg);
}

.brief-massage-close span:last-child {
  position: relative;
  top: -3px;
  transform: rotate(-45deg);
}

@media (max-width: 1200px) {
  .service__form-radio-button {
    height: 150px;
  }
}

@media (max-width: 992px) {
  .help-block {
    width: 90%;
  }
  .service__form-radio-button {
    height: 220px;
  }
}

@media (max-width: 800px) {
  .service__form-radio-button {

  }
}

@media (max-width: 480px) {
  .service__form-radio-button {
    height: auto;
  }
}

.sidebar{
  will-change: min-height;
}

.sidebar__inner{
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

.sidebarBlog {
  left: auto!important;
  max-width: 350px;
}

.service__submit-block {
  position: relative;
  display: flex;
}

//.service__submit-block:hover {
//  transition: all .2s;
//  transform: scale(.9);
//}

.sk-fading-circle {
  position: absolute;
  top: 40px;
  right: 13px;
  display: none;
  width: 1.5em;
  height: 1.5em;
}
.sk-fading-circle-active {
  display: block;
}
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #CCCCCC;
  border-radius: 100%;
  -webkit-animation: sk-fading-circle-delay 1.2s infinite ease-in-out both;
  animation: sk-fading-circle-delay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle-2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle-3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle-4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle-5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle-6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle-7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle-8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle-9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle-10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle-11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle-12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle-2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle-3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle-4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle-5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle-6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle-7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle-8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle-9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle-10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle-11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle-12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-fading-circle-delay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-fading-circle-delay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.service-brief #wrapperCont {
  width: 100%;
}

.service-brief .itemWrapper {
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  margin: -6px 5px -6px 18px;
  font-size: 13px;
  background: none;
  border: none;
}

.service-brief .itemWrapper img {
  width: 100%;
}

.service-brief #dropArea {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  margin: 5px;
  border: 2px dashed gray;
  background-color: ghostwhite;
}

.service-brief .delItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color ease .5s;
}

.service-brief .delItem:hover span {
  background-color: #ff5038;
  transition: background-color ease .5s;
}

.service-brief .delItem span {
  width: 12px;
  height: 2px;
  background-color: #000000;
}

.service-brief .delItem span:first-child {
  transform: rotate(45deg);
}

.service-brief .delItem span:last-child {
  position: relative;
  top: -2px;
  transform: rotate(-45deg);
}

@media (max-width: 992px) {
  .service-brief #wrapperCont {
    width: min-content;
  }
}