.brief {
  width: 100%;
  padding-top: 220px;
  position: relative;
  padding-bottom: 708px;
  background: url(../img/footer-bg.jpg) center bottom no-repeat;
  background-size: contain;
  overflow: hidden;

  @include breakpoint(max-width 600px) {
    padding-top: 30px;
    padding-bottom: 520px;
  }

  .paragraph {
    top: 47px;
    left: -32px;
    letter-spacing: 0.5px;

    @include breakpoint(max-width 768px) {
      display: none;
    }
  }

  .wrap {
    margin-left: 7%;

    @include breakpoint(max-width 576px) {
      margin-left: 0;
    }
  }

  .animate-circle {
    display: none;
  }

  .tittle h2 {
    margin-left: 141px;
    padding-top: 36px;
    letter-spacing: -1px;

    @include breakpoint(max-width 992px) {
      margin-left: 0;
      padding-top: 30px;
    }
  }

  .tittle p {
    max-width: 445px;
    width: 100%;

    @include breakpoint(max-width 992px) {
      margin: 0 auto;
    }
  }

  .fill-brief {
    position: absolute;
    bottom: 320px;
    left: 28vw;
    font-family: GilroyExtrabold,sans-serif;
    font-size: 48px;
    color: $black;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    @include breakpoint(max-width 1200px) {
      top: 50px;
      right: 0;
      left: 0;
      text-align: center;
    }

    @include breakpoint(max-width 992px) {
      top: 50px;
    }

    @include breakpoint(max-width 930px) {
      font-size: 27px;
    }

    @include breakpoint(max-width 630px) {
      bottom: 550px;
      top: auto;
    }

    @include breakpoint(max-width 600px) {
      bottom: 430px;
      top: auto;
      font-size: 5vw;
    }

    span {
      display: block;
      font-family: $GilroyExtrabold;
      font-size: 65px;

      @include breakpoint(max-width 930px) {
        font-size: 40px;
      }

      @include breakpoint(max-width 576px) {
        font-size: 7vw;
      }
    }
  }


  .brief__content {
    display: flex;
    align-items: center;
    margin-left: 7%;

    @include breakpoint(max-width 1200px) {
      margin: 0 auto;
      justify-content: center;
      flex-wrap: wrap;
    }

    @include breakpoint(max-width 992px) {
      margin-top: 30px;
    }
  }

 
  .brief__contacts {
    color: #282828;

    @include breakpoint(max-width 1200px) {
      margin-top: 50px;
    }

    h3 {
      margin: 0;
      font-family: $GilroyRegular;
      font-size: 30px;
      text-align: center;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;

      strong {
        margin-right: 10px;
        font-family: $GilroyMedium;
      }

      img {
        margin-right: 10px;

        &:last-child {
          margin-right: 20px;
        }
      }
    }

    .brief__social a {
        img {
          margin-right: 10px;
        }
      }

      .brief__messengers a,
      .brief__social a {
        transition: transform 0.2s;
        &:hover, &:active, &:focus {
          transform: scale(0.9);
          transition: transform 0.2s;
        }
      }
    
    .brief__tel {
      margin-top: 62px;

      strong {
        font-size: 23px;
        letter-spacing: 0.2px;
      }
    }

    .brief__social,
    .brief__messengers,
    .brief__email {
      letter-spacing: -0.4px;
    }

    .brief__email {

      a {
        font-family: $GilroySemibold;
        color: #ee4635;
        text-decoration: underline;

        &:hover, &:active, &:focus {
          text-decoration: none;
        }
      }
    }
  }
  .balloon {
    position: absolute;
    bottom: 300px;
    left: 200px;
    animation: flying 50s linear infinite;
    z-index: 2;
    @include breakpoint(max-width 1250px) {
      left: auto;
      right: 40% ;
      bottom: 100px;
    }
    @include breakpoint(max-width 992px) {
      animation: none;
    }
    @include breakpoint(max-width 600px) {
      width: 200px;
    }
  }
}

.uploader {
  margin-top: 20px;
}

.single-post {
  .blog__slider {
    margin-top: 70px;
  }

  .blog__slider--wrap {
    margin-top: 0;
    margin-left: 0;

    .slick-list {
      padding-top: 0;
    }
  }

  
}

.all-news {
  .blog .paragraph {
    top: 87px;
  }

  .brief {
    padding-top: 0;
  }
}

.main-portfolio,
.main__single-p {
  .blog {
    padding-bottom: 60px;
    
    .paragraph {
      left: -46px;
    }
  }


  .brief .wrap {
    margin-top: 0;
  }
}

.main-portfolio {
  .brief {
    padding-top: 35px;

    @include breakpoint(max-width 768px) {
      padding-top: 0;
    }
  }
}

.main__single-p  {
  .wrap {
    margin-top: 40px;
  }
}

.service__form-radio_text {
  padding-left: 22px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #282828;
  font-family: GilroySemibold,sans-serif;
  font-weight: 400;
}

.service__form-radio-button {
  display: flex;
  flex-direction: row;
}

.service__form-radio-itemL,
.service__form-radio-itemR {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.service__form-radio-item {
  display: flex;
  flex-direction: column;
}

.service__form-radio-item label {
  width: 225px;
  cursor: pointer;
}

.service__form-radio-item1 {
  width: 31%;
}

.service__form-radio-item2 {
  width: 40%;
}

.service__form-radio-item3 {
  width: 25%;
}

.service__form-radio-item4 {
  width: 21%;
}

.service__form-radio-item5 {
  width: 46%;
}

.service__form-radio-item6 {
  width: 37%;
}

.service__form-radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-item {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 8px;
  width: 8px;
  //background-color: #eee;
  border-radius: 50%;
  border: 1px solid #9fa3a7;
}

/* On mouse-over, add a grey background color */
.checkbox-item:hover input ~ .checkmark {
  //background-color: #ccc;
  border: 1px solid #9fa3a7;
}

/* When the radio button is checked, add a blue background */
.checkbox-item input:checked ~ .checkmark {
  //background-color: #2196F3;
  height: 13px;
  width: 13px;
  top: 1px;
  left: 1px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  background-color: red;
}

/* Show the indicator (dot/circle) when checked */
.checkbox-item input:checked ~ .checkmark:after {
  display: block;
  background-color: red;
}

/* Style the indicator (dot/circle) */
.checkbox-item .checkmark:after {
  top: 23%;
  left: 24%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

@media (max-width: 1200px) {
  .service__form-radio-button {
    flex-direction: column;
    align-items: center;
  }
  .service__form-radio-itemL, .service__form-radio-itemR {
    width: 80%;
  }
  .service__form-radio-item2 {
    width: 36%;
  }
  .service__form-radio-item4 {
    width: 31%;
  }
  .service__form-radio-item5 {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .service__form-radio-itemL, .service__form-radio-itemR {
    width: 100%;
  }
  .service__form-radio-item5 {
    width: 36%;
  }
}

@media (max-width: 800px) {
  .service__form-radio-button {
    flex-direction: column;
    align-items: center;
  }
  .service__form-radio-itemL, .service__form-radio-itemR {
    width: 100%;
  }
  .service__form-radio-button,
  .service__form-radio-itemL,
  .service__form-radio-itemR {
    flex-direction: column;
    align-items: center;
  }
  .service__form-radio-item1,
  .service__form-radio-item2,
  .service__form-radio-item3,
  .service__form-radio-item4,
  .service__form-radio-item5,
  .service__form-radio-item6 {
    width: 235px;
  }
  .service__form-radio-item1 label,
  .service__form-radio-item2 label,
  .service__form-radio-item3 label,
  .service__form-radio-item4 label,
  .service__form-radio-item5 label,
  .service__form-radio-item6 label {
    margin-left: 0;
  }
}