.brief {
  width: 100%;
  padding-top: 130px;
  position: relative;
  padding-bottom: 700px;
  background: url(../img/footer-bg.png) center bottom no-repeat;
  background-size: cover;
  overflow: hidden;

  .paragraph {
    margin-top: -50px;
    left: -20px;
    //&:before {
    //  content: '04';
    //}
  }
  .animate-circle {
    top: 100px;
    right: -250px;
    @include breakpoint(max-width 1550px) {
      display: none;
    }
  }
  .balloon {
    position: absolute;
    bottom: 300px;
    left: 200px;
    animation: flying 50s linear infinite;
    z-index: 2;
    @include breakpoint(max-width 1250px) {
      left: auto;
      right: 40% ;
      bottom: 100px;
    }
    @include breakpoint(max-width 600px) {
      width: 200px;
    }
  }
  >p {
    color: $black;
    position: absolute;
    font-family: $GilroySemibold;
    font-size: 44px;
    text-transform: uppercase;
    bottom: 300px;
    right: 300px;
    @include breakpoint(max-width 1250px) {
      right: auto;
      left: 20px;
      top: 750px;
    }
    @include breakpoint(max-width 930px) {
      font-size: 27px;
    }
    @include breakpoint(max-width 600px) {
      bottom: 400px;
      top: auto;
    }
    span {
      display: block;
      font-family: $GilroyExtrabold;
      font-size: 65px;
      @include breakpoint(max-width 930px) {
        font-size: 40px;

      }
    }
  }
  .red-dot {
    position: relative;
    span {
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      width: 1px;
      background-color: #f4dedc;
      @include breakpoint(max-width 1550px) {
        display: none;
      }
    }
  }

  &__col {
    position: relative;
    float: left;
    width: 50%;
    @include breakpoint(max-width 600px) {
      width: 100%;
    }
    div {
      position: relative;
    }
  }
  form {
    position: relative;
    width: 65%;
    float: left;
    margin-top: 80px;
    @include breakpoint(max-width 1200px) {
      width: 100%;
    }
    input,
    textarea {
      font-family: $GilroySemibold;
      font-size: 14px;
      color: #272e34;
      font-weight: 600;
      width: 90%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #ccc;
      padding: 10px 5px;
      box-sizing: border-box;
      resize: none;
      margin-bottom: 10px;
      @include breakpoint(max-width 600px) {
        margin-left: 5%;
      }
    }
    textarea {
      min-height:120px;
    }
    span {
      color: #c5c7c6;
      display: inline-block;
      width: calc(100% - 200px);
      @include breakpoint(max-width 755px) {
        padding-left: 5%;
        box-sizing: border-box;
      }
      @include breakpoint(max-width 755px) {
        width: 100%;
      }
      b {
        font-size: 20px;
        margin-right: 10px;
        color:#eb4534;
      }
    }
    span.error-box {
      display: block;
      height: 10px;
      width: 20px;
      position: absolute;
      font-size: 20px;
      top: 20px;
      right: 30px;
      color: #eb4534;
    }
    p {
      font-family: $GilroyExtrabold;
      text-transform: uppercase;
      color: $red;
      font-size: 16px;
      @include breakpoint(max-width 600px) {
        padding-left: 5%;
        box-sizing: border-box;
      }
    }
    label {
      position: relative;
      width: 100%;
      display: block;
      padding: 5px 0;
      font-family:$GilroySemibold;
      font-size: 14px;
      color: #272e34;
      @include breakpoint(max-width 600px) {
        padding-left: 5%;
        box-sizing: border-box;
      }
      span {
        height: 12px;
        width: 12px;
        border: 1px solid #ccc;
        position: relative;
        display: inline-block;
        margin-right: 10px;
        border-radius: 50%;
        box-sizing: border-box;
        padding: 0;
        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 80%;
          height: 80%;
          margin-top: 10%;
          margin-left: 10%;
          border-radius: 50%;
        }
      }
    }
    input[type="radio"],
    input[type="file"]{
      display: none;
    }
    input[type="radio"]:checked + label span {
      &:before {
        background-color: #eb4534;
      }
    }
    .correctly {
      background: url('../img/icons/correctly.png') center center no-repeat;
    }
    button {
      display: block;
      position: relative;
      float: left;
      margin: 60px 30px 0 0;
      background-color: $red;
      border: none;
      border-radius: 30px;
      color: #fff;
      font-family: $GilroyRegular;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 15px 30px;
      @include breakpoint(max-width 500px) {
        margin: 30px auto 0;
        float: none;
      }
    }
    label[for="add-file"] {
      position: relative;
      font-family: $GilroyRegular;
      font-size: 14px;
      color: #c5c7c6;
      display: inline-block;
      text-decoration: underline;
      width: auto;
      cursor: pointer;
      @include breakpoint(max-width 755px) {
        display: inline-block!important;
        margin-top: 20px;
        text-align: center;
      }
    }
  }
  &__text {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    @include breakpoint(max-width 1200px) {
      display: none;
    }
    &:nth-of-type(2) {
      top: 50px;
      right: 100px;
      text-align: right;
      width: 365px;
      .red-dot {
        span {
          height: 660px;
        }
      }
    }
    &:nth-of-type(3) {
      top: 270px;
      right: 20px;
      width: 300px;
      p {
        width:calc(100% - 60px);
      }
      .red-dot {
        span {
          height: 470px;
        }
      }
    }
    &:nth-of-type(4) {
      top: 480px;
      right: 130px;
      width: 340px;
      p {
        width: calc(100% - 60px);
      }
      .red-dot {
        span {
          height: 270px;
        }
      }
    }
    p {
      font-family:$GilroySemibold;
      font-size: 16px;
      width:calc(100% - 70px);
      line-height: 23px;
    }

  }


}