.feedback-brief {
  padding-top: 30px;
}

.feedback-wrap {
  margin-top: 60px;
}

.main-service .feedback-brief .paragraph {
  top: 113px;
}

.feedback-block, .feedback-block-up, .feedback-block-down {
  margin-top: 65px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97%;
  position: relative;
}

.feedback-p {
  width: 65%;
  text-align: center;
  font-family: GilroySemibold, sans-serif;
  font-size: 16px;
}

.feedback-down-name {
  font-family: GilroyBold, sans-serif;
  font-size: 22px;
  color: #000000;
}

.feedback-down-site {
  font-family: GilroyBold, sans-serif;
  font-size: 18px;
  color: #f9593a;
  letter-spacing: 3px;
}

.feedback-block .slick-list {
  padding: 0;
  width: 100%;
}

.feedback-block .feedback-block-up .feedback-up-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedback-block .feedback-block-down .feedback-down-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  margin: 0 60px;
  outline: none;
}

.feedback-down-name {
  width: 250px;
  text-align: center;
}

.feedback-down-img {
  width: 103px;
  height: 105px;
  transform: scale(0.6);
  transition: transform 0.2s;
}

.slick-center .feedback-down-img {
  transform: scale(1);
  transition: transform 0.2s;
  padding-bottom: 30px;
}

.feedback-down-wrap {
  visibility: hidden;
  text-align: center;
  padding-top: 35px;
  border-top: 2px solid red;
}

.slick-center .feedback-down-wrap {
  visibility: visible;
  transition: visibility 0.3s;
}

.feedback-hr {
  width: 100%;
  height: 3px;
  color: red;
  background-color: #e8e9ed;
  position: absolute;
  bottom: 28.5%;
  border: none;
  z-index: -9;
}

.feedback-block .slick-prev {
  left: -3%;
  top: 55%;
}

.feedback-block .slick-next {
  right: -5%;
  top: 55%;
  left: auto;
}

.prevArrow-btn {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 12%;
  left: -3%;
}

.prevArrow-svg {
  cursor: pointer;
  width: 25px;
  height: 23px;
}

.prevArrow-fill {
  fill: black;
}

.prevArrow-btn:hover .prevArrow-fill {
  fill: red;
}

.nextArrow-btn {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 12%;
  right: -5%;
}

.nextArrow-svg {
  cursor: pointer;
  width: 25px;
  height: 23px;
}

.nextArrow-fill {
  fill: black;
}

.nextArrow-btn:hover .nextArrow-fill {
  fill: red;
}

@media (max-width: 1200px) {
  .feedback-hr {
    bottom: 27.5%;
  }
}

@media (max-width: 1000px) {
  .feedback-hr {
    bottom: 26.5%;
  }
  .feedback-p {
    width: 78%;
  }
}

@media (max-width: 769px) {
  .feedback-hr {
    bottom: 27%;
  }
  .feedback-block, .feedback-block-down, .feedback-block-up {
    margin-left: 5px;
  }
}

@media (max-width: 426px) {
  .feedback-hr {
    bottom: 22.3%;
  }
}

@media (max-width: 376px) {
  .feedback-hr {
    bottom: 21.7%;
  }
}

@media (max-width: 321px) {
  .feedback-hr {
    bottom: 20.5%;
  }
}