.not-found {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 76px);
	padding: 15px;
	padding-bottom: 50px;
	background-color: #f0f0f0;
	box-sizing: border-box;
	
	@include breakpoint(max-width 768px) {
		min-height: 100vh;
	}
	&__error {
		position: relative;
	}

	&__error-dog {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 4;
		transform: translate(-54%,-44%);
		width: 377px;
		height: 276px;

		img {
			width: 100%;
			height: auto;
		}

		@include breakpoint(max-width 992px) {
			width: 42vw;
			height: auto;
		}
	}

	&__error-numbers {
		position: relative;
		margin: 0;
	}

	&__error-number {
		position: relative;
		font-family: $GilroyBold;
		font-size: 407px;
		line-height: 1;
		pointer-events: none;

		@include breakpoint(max-width 992px) {
			font-size: 45vw;
		}

		&_dark {
			position: absolute;
			color: #c6c5c5;
		}

		&_light {
			color: #f0f0f0;
			text-shadow: 0 0 49px rgba(0, 0, 0, 0.05);
		}

		&:first-child {
			right: 81%;
			z-index: 3;
		}

		&:nth-child(2) {
			z-index: 2;
		}

		&:last-child {
			left: 81%;
			z-index: 1;


		}
	}

	&__desc {
		margin-top: 65px;
		text-align: center;

		@include breakpoint(max-width 1200px) {
			margin-top: 25px;
		}

		&-text {
			margin: 0;
			font-family: $GilroyMedium;
			font-size: 24px;

			@include breakpoint(max-width 576px) {
				font-size: 18px;
			}
		}

		&-text_strong {
			font-family: $GilroySemibold;
			font-weight: normal;
		}

		&-text_small {
			margin-top: 20px;
			font-family: $GilroyRegular;
			font-size: 18px;

			@include breakpoint(max-width 576px) {
				font-size: 16px;
			}
		}

		&-link {
			font-family: $GilroySemibold;
			color: #ff4834;
			text-decoration: underline;
		}
	}
}