.portfolio {
  position: relative;
  padding-bottom: 135px;
  overflow: hidden;
  color: $black;

  .animate-circle {
    left: -355px;
    bottom: 72px;
    height: 607px;
    @include breakpoint(max-width 1400px) {
      display: none;
    }
    p {
      position: absolute;
      right: -188px;
      top: 50%;
      display: flex;
      align-items: center;
      max-width: 340px;
      margin: 0;
      transform: translateY(-50%);
      font-family: $GilroyMedium;
      font-size: 16px;
      line-height: 18px;
      z-index: 2;
      @include breakpoint(max-width 1750px) {
        right: -100px;
      }
      @include breakpoint(max-width 1600px) {
        right: 0;
      }
      @include breakpoint(max-width 1400px) {
        display: none;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 80px;
        height: 80px;
        margin-right: 15px;
        border-radius: 50%;
        background-color: #3A6FFE;
        box-shadow: -1px -2px 0 0 rgba(#5a99d4, .5);
        animation: pulse 1.5s infinite;
        
        img {
          vertical-align: middle;
          border-radius: 50%;
        }
      }

      span {
        @include breakpoint(max-width 1600px) {
          display: none;
        }
      }
    }
  }

  .wrap {
    margin-left: 7%;

    @include breakpoint(max-width 576px) {
      margin: 0 auto;
    }
  }
  .paragraph {
    top: 62px;
    left: -46px;
    letter-spacing: 0.5px;
    &:before {
      top: 0;
    }
  }
  .tittle {
    P {
      width: 475px;
    }
  }

  &__gallery {
    min-width: 2000px;
    width:100%;
    margin-top: 30px;
    margin-left: 70px;
    @include breakpoint(max-width 992px) {
      min-width: 100%;
      margin-left: 0;
    }
    &--scroller {
      transition: .5s;
    }
    &--item {
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      max-width: 470px;
      width: 100%;
      height: 600px;
      margin-right: 20px;
      box-sizing: border-box;

      @include breakpoint(max-width 992px) {
        height: 550px;
      }

      @include breakpoint(max-width 576px) {
        height: 400px;
      }

      a {
        width: 100%;
        height: 100%;
        opacity: 0.8;
        transition: 0.4s;
        &:hover {
          opacity: 1;
          transition: 0.4s;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .two-items,
    .three-items {
      a {
        height: 49%;
      }
    }

    .three-items {
      a {
        height: 32.3%;
      }
    }
    &--btns {
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
    }
    &--btn {
      height: 80px;
      width: 80px;
      margin: 10px 0;
      cursor: pointer;
      img {
        width: 80px;
        filter: drop-shadow(10px 10px 8px #111)
      }
      @include breakpoint(max-width 992px) {
        display: none;
      }
    }
  }
}