.paragraph p {
  margin: 0;
}

.portfolio {
  position: relative;
  padding-bottom: 120px;
  overflow: hidden;
  color: $black;

  @include breakpoint(max-width 768px) {
    padding-bottom: 60px;
  }

  .animate-circle {
    left: -355px;
    bottom: 72px;
    height: 607px;
    @include breakpoint(max-width 1400px) {
      display: none;
    }
    p {
      position: absolute;
      right: -188px;
      top: 50%;
      display: flex;
      align-items: center;
      max-width: 340px;
      margin: 0;
      transform: translateY(-50%);
      font-family: $GilroyMedium;
      font-size: 16px;
      line-height: 18px;
      z-index: 2;
      @include breakpoint(max-width 1750px) {
        right: -100px;
      }
      @include breakpoint(max-width 1700px) {
        right: -50px;
      }
      @include breakpoint(max-width 1600px) {
        right: 3px;
      }
      @include breakpoint(max-width 1450px) {
        right: 125px;
      }
      @include breakpoint(max-width 1400px) {
        display: none;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 80px;
        height: 80px;
        margin-right: 15px;
        border-radius: 50%;
        background-color: #3A6FFE;
        box-shadow: -1px -2px 0 0 rgba(#5a99d4, .5);
        animation: pulse 1.5s infinite;
        
        img {
          vertical-align: middle;
          border-radius: 50%;
        }
      }

      span {
        display: inline-block;
        width: 180px;
        @include breakpoint(max-width 1600px) {
          display: none;
        }
      }
    }
  }

  .wrap {
    margin-left: 7%;

    @include breakpoint(max-width 768px) {
      margin: 0 auto;
    }
  }
  .paragraph {
    top: 62px;
    left: -75px;
    letter-spacing: 0.6px;
    &:before {
      top: 0;
    }
  }
  .tittle {
    @media (max-width: 1199px) {
      display: flex;
      flex-direction: column;
    }
    p {
      min-width: 475px;

      @include breakpoint(max-width 992px) {
        min-width: inherit;
        margin: 14px;
      }
    }
  }

  &__gallery {
    margin-top: 30px;

    @include breakpoint(max-width 992px) {
      min-width: 100%;
    }
  }
}

.portfolio__slider {
  margin-top: 20px;
  @media (max-width: 1199px) {
    width: calc(100% - 70px) !important;
    margin-top: 0;
    margin-bottom: 10px !important;
  }
  @media (max-width: 575px) {
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  &-design {
    width: 700px;
    margin-right: -50px;
    @media (max-width: 1450px) {
      margin-right: -20px;
    }
    @media (max-width: 1399px) {
      width: 550px;
      margin-right: 70px;
    }
    @media (max-width: 991px) {
      width: calc(100% - 80px);
      margin-right: 80px;
    }
    @media (max-width: 659px) {
      width: calc(100% - 120px);
      margin-right: 120px;
    }
    .slick-dots {
      left: calc(100% + 10px);
    }
  }
  &-web {
    width: 780px;
    margin-left: -20px;
    @media (max-width: 1399px) {
      width: 650px;
      margin-left: 0;
    }
    @media (max-width: 1199px) {
      margin-left: 70px;
    }
    @media (max-width: 659px) {
      width: calc(100% - 120px);
      margin-left: 120px;
    }
    .slick-dots {
      right: calc(100% + 10px);
    }
  }
  &-item {
    display: flex !important;
    justify-content: center;
    padding: 2px;
    font-size: 16px;
    font-family: $GilroyMediumItalic;
    color: #828181;
    cursor: pointer;
    span {
      position: unset;
      font-size: inherit;
      font-family: inherit;
      text-transform: none;
      color: inherit;
    }
    a {
      color: inherit;
    }
    &:hover {
      color: $red;
    }
  }
  &-active {
    color: $red;
    text-decoration: underline;
  }
  .slick-dots {
    top: 10px;
    display: flex;
    width: unset;
    @media (max-width: 575px) {
      top: 40px;
      left: 50%;
      right: unset;
      transform: translateX(-50%);
    }
    li {
      width: 6px;
      height: 6px;
      margin: 0 4px;
      button {
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: #d4e4f1;
        border-radius: 50%;
        &:before {
          display: none;
        }
      }
    }
    .slick-active {
      button {
        background-color: $red;
      }
    }
  }
}

.portfolio__gallery {
      display: -ms-grid;
      -ms-grid-row-gap: 8px;
      -ms-grid-columns: 20.4vw 13.8vw 9vw 4.8vw 9vw 13.8vw;
      -ms-grid-rows: 13.8vw 13.8vw;

      .gallery__block-link {
        width: 60%;
        bottom: 20%;
        @media (max-width: 1600px) {
          width: 210px;
          left: 10%;
          bottom: 18%;
        }
        @media (max-width: 1280px) {
          width: 60%;
          left: 0;
        }
        @media (max-width: 400px) {
          width: 210px;
        }
      }

      .portfolio-link {
        position: relative;
        -ms-grid-row: 1;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.8;
          transition: opacity 0.2s;
        }

        &:first-child:hover {
          opacity: 1;
        }
      }

      .portfolio-soc {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
      }

      .portfolio-angel {
        -ms-grid-column: 4;
        -ms-grid-row: 1;
      }

      .portfolio-scrubb {
        -ms-grid-column: 6;
        -ms-grid-row: 1;
      }

      .portfolio-loft {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
      }

      .portfolio-chair {
        -ms-grid-column: 3;
        -ms-grid-row: 2;
      }

      .portfolio__brief {
        display: flex;
        justify-content: center;
        align-items: center;
        -ms-grid-column: 5;
        -ms-grid-row: 2;
        background-color: #ff4834;
        transition: opacity 0.2s;
        &:hover {
          opacity: 0.8;
          transition: opacity 0.2s;
        }
        h2 {
          margin-right: auto;
          margin-left: 15%;
          transition: all .2s;
        }

        a {
          font-size: 60px;
          font-family: 'BebasNeueBold', sans-serif;
          color: white;
          text-transform: uppercase;
          span {
            display: inline-block;
            background-image: url(/img/arrow.png);
            background-repeat: no-repeat;
            width: 38px;
            height: 33px;
            margin-left: 15px;
          }
        }
      }
    }

.portfolio__gallery .portfolio__brief h2:hover {
  transform: scale(.9);
  transition: all .2s;
}

@supports (display: grid) {
  .portfolio__gallery {
    display: -ms-grid;
    display: grid;
    grid-gap: 8px 10px;
    grid-template-columns: 20.4vw 13.8vw 9vw 4.3vw 9vw 13.8vw;
    grid-template-rows: 13.8vw 13.8vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .2s;
    }

    .portfolio-link {
      position: relative;
      grid-row: 1 / 3;
    }

    .portfolio-soc {
      grid-column: 2 / 4;
      grid-row: 1;
    }

    .portfolio-angel {
      grid-column: 4 / 6;
      grid-row: 1;
    }

    .portfolio-scrubb {
      grid-column: 6 / 7;
      grid-row: 1;
    }

    .portfolio-loft {
      grid-column: 2 / 3;
      grid-row: 2;
    }

    .portfolio-chair {
      grid-column: 3 / 5;
      grid-row: 2;
    }

    .portfolio__brief {
      grid-column: 5 / 7;
      grid-row: 2;
    }

    @include breakpoint(max-width 1280px) {
      grid-template-columns: 392px 69px 196px 265px;
      grid-template-rows: 265px 265px 265px;

      .portfolio-link {
        grid-row: 1 / 3;
      }

      .portfolio-soc {
        grid-column: 1 / 3;
        grid-row: 3;
      }

      .portfolio-angel {
        grid-column: 2 / 4;
        grid-row: 1;
      }

      .portfolio-scrubb {
        grid-column: 4 / 5;
        grid-row: 1;
      }

      .portfolio-loft {
        grid-column: 2 / 4;
        grid-row: 2;
      }

      .portfolio-chair {
        grid-column: 4 / 5;
        grid-row: 2;
      }

      .portfolio__brief {
        grid-column: 3 / 5;
        grid-row: 3;
      }
    }

    @include breakpoint(max-width 1070px) {
      grid-template-columns: 392px 265px;
      grid-template-rows: 265px 265px 265px;

      .portfolio-link {
        grid-row: 1 / 3;
      }

      .portfolio-soc,
      .portfolio-angel,
      .portfolio-chair {
        display: none;
      }

      .portfolio-scrubb {
        grid-column: 2 / 3;
        grid-row: 1;
      }

      .portfolio-loft {
        grid-column: 2 / 3;
        grid-row: 2;
      }

      .portfolio__brief {
        grid-column: 1 / 3;
        grid-row: 3;
      }
    }

    @include breakpoint(max-width 992px) {
      grid-template-columns: 55.7% 42.9%;
      grid-template-rows: 265px 265px 265px;
    }

    @include breakpoint(max-width 576px) {
      grid-template-columns: 100%;
      grid-template-rows: auto auto 265px;

      .portfolio-link {
        grid-row: 1;
        margin: 0 9px;
      }

      .portfolio-loft {
        grid-column: 1;
        grid-row: 2;
      }

      .portfolio__brief {
        grid-column: 1;
        grid-row: 3;
      }

      .portfolio-scrubb {
        display: none;
      }
    }
  }
  .portfolio__gallery-web {
    margin-left: calc(-50vw + 50%);
    grid-template-columns: 14vw 5vw 14vw 14vw 21vw;
    .portfolio-soc {
      grid-column: 1/3;
    }
    .portfolio-angel {
      grid-column: 3/4;
    }
    .portfolio-scrubb {
      grid-column: 4/5;
    }
    .portfolio-loft {
      grid-column: 1/2;
    }
    .portfolio__brief {
      grid-column: 2/4;
    }
    .portfolio-chair {
      grid-column: 4/5;
    }
    .portfolio__count {
      grid-column: 5;
    }
  }
}

.portfolio__gallery img:hover {
  transform: scale(.95);
  transition: all .2s;
}

.portfolio__gallery .portfolio-link:first-child img:hover {
  transform: none;
}

#cboxClose {
  background:url(jquery-colorbox/images/controls1.png) no-repeat 50% 50%;
}

#cboxClose:hover {
  background:url(jquery-colorbox/images/controls1.png) no-repeat 50% 50%;
}

.photoGrid {
  max-height: 450px;
  margin: 0;
  overflow: hidden;
}

.grid-item__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.grid-item__links a:first-child {
  margin-right: 10px;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}

.grid-item__links a:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.full-size {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,.7);
  border-radius: 50%;
  pointer-events: none;
  @include breakpoint(max-width 1024px) {
    display: flex;
  }
}

.portfolio-open-image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}

.grid-item:hover .portfolio-open-image {
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  transform: scale(.95);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  opacity: .8;
}

.grid-item:hover .full-size {
  display: flex;
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  transform: scale(.95);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: .8;
}

.pswp__counter, .pswp__button--arrow--left, .pswp__button--arrow--right, .pswp__button--share {
  display: none!important;
}

.grid-item_hidden {
  visibility: hidden;
}

.sk-fading-circle-position {
  top: 8px!important;
}

.portfolio-web {
  .tittle span {
    right: 40px;
  }
  .paragraph {
    left: 95%;
    min-width: 180px;
  }
  .tittle {
    @media (max-width: 1199px) {
      flex-direction: column-reverse;
      h2 {
        text-align: right;
      }
    }
  }
  .wrap {
    margin-left: 0;
  }
}