.results {
  position: relative;
  width: 100%;
  color: $black;
  overflow: hidden;
  padding-bottom: 120px;

  @include breakpoint(max-width 768px) {
    padding-bottom: 30px;
  }

  .paragraph {
    top: 140px;
    left: -129px;
    letter-spacing: 0.3px;

    @include breakpoint(max-width 768px) {
      display: none;
    }
  }
  .tittle {

    @include breakpoint(max-width 992px) {
      flex-direction: column;
      align-items: center;
    }

    h2 {
      margin-left: 88px;
      letter-spacing: -0.9px;

      @include breakpoint(max-width 576px) {
        margin-left: 0;
      }
    }

    span {

    }
    p {
      width: 600px;
      position: relative;
      top: 2px;
      left: 9px;
      font-family: $GilroyRegularItalic;
      font-style: normal;
      line-height: 22px;

      @include breakpoint(max-width 1200px) {
        min-width: 450px;
        margin: 0;
      }
      @include breakpoint(max-width 992px) {
        max-width: 600px;
        width: 100%;
        min-width: inherit;
        left: 0;
      }
    }
  }
  &__content {
    position: relative;
    top: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    @include breakpoint(max-width 992px) {
      flex-direction: column;
      justify-content: space-around;
    }
    &--left {
      position: relative;
      width: 570px;

      @include breakpoint(max-width 1200px) {
        width: 550px;
        margin-top: 45px;
        margin-right: 20px;
      }
      @include breakpoint(max-width 992px) {
        width: 100%;
        margin-right: 0;
      }
      @include breakpoint(max-width 768px) {
        margin-top: 0;
      }

      @include breakpoint(max-width 576px) {
        text-align: center;
      }
      h3 {
        font-family: $GilroyMedium;
        font-size: 24px;
        letter-spacing: -0.5px;
        @include breakpoint(max-width 400px) {
          font-size: 17px;
        }
        &:after {
          content: '!';
          color: $red;
          margin-left: 5px;
        }
      }
      p {
        font-family: $GilroyLight;
        font-size: 15px;
        color: $darkGrey;
        line-height: 1.4;
        margin-bottom: 22px;
        strong {
          font-family: $GilroyBold;
          color: $black;
        }
      }
    }
    &--right {
      position: relative;
      width: 380px;
      padding: 0;
      margin-top: 60px;
      margin-bottom: 0;

      @include breakpoint(max-width 992px) {
        width: 100%;
      }

      @include breakpoint(max-width 768px) {
        margin-top: 10px;
      }
      li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        &:nth-child(2) {
          img {
            left: -6px;

            @include breakpoint(max-width 992px) {
              left: 0;
            }
          }
        }

        &:nth-child(3) {
          img {
            left: -5px;

            @include breakpoint(max-width 992px) {
              left: 0;
            }
          }
        }

        img {
          position: relative;
          width: 61px;
          height: 61px;
          margin-right: 40px;
          object-fit: cover;

          @include breakpoint(max-width 576px) {
            margin-right: 20px;
            padding-left: 10px;
          }
        }
        p {
          font-family: $GilroyMedium;
          font-size: 17px;
          color: $black;
          width:calc(100% - 90px);
          margin: 0;
          line-height: 1.1;
          letter-spacing: 0.57px;
          @include breakpoint(max-width 576px) {
            font-size: 16px;
            line-height: 1.2;
          }
          span {
            font-family: $GilroyExtrabold;
            color: $red;
          }
        }
      }
    }
  }
  .animate-circle {
    right: -308px;
    top: 40px;
    @include breakpoint(max-width 1650px) {
      display: none;
    }
  }

}