.single-vacancies .wrap-services {
  margin-top: 60px;
}

.single-vacancies-p {
  margin: 6px 0;
}

.main-service .single-vacancies .paragraph {
  top: 200px;
  left: -130px;
}

.wrap {
  margin-left: 7%;
}

@media (max-width: 768px) {
  .wrap {
    margin-left: 0;
  }
}