.vacancies-section .vacancies-ul-span {
  font-family: GilroyMedium, sans-serif;
  font-size: 16px;
  color: #000000;
  position: relative;
  text-transform: none;
}

.main-service .vacancies-section .paragraph {
  top: 148px;
}

.vacancies_item-ul {
  padding-left: 0;
}

.vacancies-item-li {
  list-style: none;
  font-family: GilroyBold, sans-serif;
}

.vacancies_item-more {
  margin-left: 0;
}

.novelty-text {
  position: relative;
  left: -16%;
  font-family: GilroyRegular,sans-serif;
  font-size: 16px;
  color: #818080;
}

.vacancies-text {
  position: relative;
  left: -6%;
  max-width: 600px;
  //font-weight: 600;
  color: #818080
}

.vacancies-novelty-more {
  margin-left: -35px;
  border-radius: 25px;
}

.vacancies-novelty {
  position: relative;
  width: 100%;
  margin-top: 200px;
  justify-content: flex-end;;
}

.vacancies-novelty-img {
  z-index: 2;
  margin-right: 70px;
  left: 107px;
  top: -130px;
}

.vacancies-novelty-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
}

.main-service .vacancies-brief .paragraph {
  top: 37px;
}

.vacancies-section .tittle .vacancies-title-p {
  max-width: 500px;
}

.services_item-mob {
  margin-top: 5px;
  color: #000000;
  text-align: center;
  font-size: 16px;
}

.services_more-mob {
  color: #dd4938;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}

.mt-1 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 20px;
}

.services_item-mob p {
  margin: 0;
}

.services_item-mob p:first-child {
  font-weight: 600;
}

@media (max-width: 1200px) {
  //.vacancies-novelty-img {
  //  left: -120px;
  //}
  .vacancies-novelty-title {
    position: relative;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  //.vacancies-title {
  //  right: 20px;
  //}
}

@media (max-width: 888px) {
  .vacancies-novelty-desc {
    width: 100%;
    margin-top: 160px;
    align-items: center;
  }
  .vacancies-novelty-img {
    top: -35px;
    left: 0;
    margin-right: 0;
  }
  .vacancies-novelty {
    margin-bottom: 0;
  }
  .vacancies-text {
    top: 135%;
  }
  .vacancies-novelty-more {
    top: 165%;
  }
  .novelty-text, .vacancies-text{
    left: 0;
    text-align: center;
  }
  .vacancies-section {
    margin-top: 40px;
  }
  .vacancies-novelty {
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
  }
  .novelty__desce {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .novelty__head {
    text-align: center;
  }
  .novelty__big-title {
    left: 0;
  }
  .novelty__body {
    text-align: center;
  }
  .novelty__title {
    margin-left: 0;
    right: 0;
    justify-content: center;
  }
  .novelty__title_bold {
    margin-bottom: 0;
    margin: 0 10px 0 0;
  }
  .vacancies-p__vacancy-more_novelty {
    position: relative;
    top: 18px;
    left: 0;
    right: 0;
    margin: 0;
  }
  .vacancies-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .novelty__img {
    left: 0;
  }
}

@media (max-width: 590px) {
  .vacancies-text {
    top: 150%;
  }
  .vacancies-novelty {
    margin-bottom: 70px;
  }
  .vacancies-novelty-more {
    top: 105%;
    //left: 25%;
  }
  .vacancies-novelty-title {
    left: 0;
  }
  .vacancies-title {
    right: 0;
  }
}

@media (max-width: 426px) {
  .vacancies-novelty-img {
    left: 0;
    width: 380px;
    height: auto;
  }
}

@media (max-width: 376px) {
  .vacancies-novelty-img {
    left: -85px;
  }
  .novelty__big-title {
    font-size: 52px;
  }
  .vacancies-novelty-img {
    left: 0;
    width: 340px;
    height: auto;
  }
}

@media (max-width: 320px) {
  .vacancies-novelty-img {
    left: -15px;
    width: 340px;
    height: auto;
  }
  .novelty__big-title {
    font-size: 44px;
  }
}