$black: #282828;
$grey: #e4e5e5;
$darkGrey: #818080;
$red: #ff5038;

$colors: #F2385A, #B22815, #ff5038;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 6s;
$time-step: $time/$max;

.text-preloader {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  color: $red;
}

/* Main styles */
.text {
  font-size: 130px;
  fill: none;
  //stroke-width: 2.5;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}


/* Other styles */

svg {
  width: 100%;
  height: 100%;
}

.page-preloader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1001;
}

.inactive-preloader {
  display: none;
}

.svg-logo {
  display: block;
}

.broadcrumbs__link,
.broadcrumbs__divider {
  color: #9E9E9E;
  font-size: 14px;
}

.broadcrumbs__link:hover,
.broadcrumbs__link:active,
.broadcrumbs__link:focus {
  color: #616161;
}

.broadcrumbs__divider {
  margin: 0 5px;
}

.broadcrumbs__curr {
  font-size: 14px;
 color: #ff5038;
}

.grid-item img {
  display: block;
  width: 100%;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 120px;
  box-sizing: border-box;

  @include breakpoint(max-width 1200px) {
    width: 100%;
  }

  @include breakpoint(max-width 768px) {
    padding: 10px;
    margin-bottom: 0;
  }
}
.grid,
.grid_feedback {
  display: block;
  width: 103.125%; 
  overflow: hidden;
  margin-left: -1%;
  margin-bottom: -1.875em;

  @include breakpoint(max-width 768px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.grid-item {
  position: relative;
  width: 22%;
  max-height: 500px;
  float: left;
  margin: 0 1% 1.875em; /* 15px 30px */
  transition: all .5s;
  transition: background-color 0.5s ease-in-out;
  overflow: hidden;

  p {
    margin: 0;
  }

  &>p {
    img {
      position: relative;
      z-index: 1;
      transition: opacity 0.2s ease-in-out;
    }
  }

  &:hover &>p img {
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
  }


  @include breakpoint(max-width 1200px) {
    width: 30%;
  }

  @include breakpoint(max-width 768px) {
    width: 48%;
  }

  @include breakpoint(max-width 576px) {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}

.feedback-item {
  position: relative;
  width: 30%;
  float: left;
  margin: 0 1% 1.875em; /* 15px 30px */
  transition: background-color 0.2s ease-in-out;

  @include breakpoint(max-width 992px) {
    width: 48%;
  }

  @include breakpoint(max-width 576px) {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}

.grid-preloader {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  img {
    display: block;
    width: 50%;
    margin: 0 auto
  }
}

.grid-item:hover .grid-item__watch,
.grid-item:hover .grid-item__fancybox {
  @include breakpoint(min-width 992px) {
    opacity: 1;
    transition: all 0.2s;
  }
}

.grid-item__fancybox {
  @include breakpoint(max-width 992px) {
    display: none;
  }
}

.grid-item__fancybox:hover,
.grid-item__fancybox:active,
.grid-item__fancybox:focus {
  transform: scale(0.8);
}

.grid-item:hover img {
  @include breakpoint(min-width 992px) {
    background-color: #222222;
    transform: scale(.95);
    transition: all .5s;
    opacity: .8;
  }
}

.grid-item__watch,
.grid-item__fancybox {
  position: absolute;
  opacity: 0;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.grid-item__watch,
.more_btn {
  right: 0;
  bottom: 20px;
  left: 0;
  display: block;
  max-width: 170px;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 15px;
  font-family: $GilroyMedium;
  color: white;
  text-align: center;
  background-color: #ff5038;
  border-radius: 20px;
}

.grid-item__watch {
  @include breakpoint(max-width 992px) {
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 15px;
    font-family: GilroyMedium, sans-serif;
    color: #fff;
    text-align: center;
    background-color: #ff5038;
    border-radius: 20px;
  }
}

.more_btn {
  display: none;
  max-width: 170px;
  width: 100%;
  margin-top: 60px;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  color: #ff5038;
  background-color: transparent;
  border: 1px solid #ff5038;
  transition: transform 0.2s;
  outline: none;

  &:hover, &:active, &:focus {
    transform: scale(0.9);
    transition: transform 0.2s;
  }

  @include breakpoint(max-width 768px) {
    margin-top: 0;
  }
}

//.more_btn:active, .more_btn:focus, .more_btn:hover {
//  background-color: red;
//  color: white;
//}

.grid-item__watch:hover,
.grid-item__watch:active,
.grid-item__watch:focus {
  color: white;
  transform: scale(0.9);
}

.grid-item__fancybox {
  top: 13px;
  right: 13px;
  padding: 10px;
  background-color:rgba(34, 34, 34, 0.7);
  border-radius: 50%;
}

.grid-item__fancybox .magnifier img {
  width: 20px;
}

.paragraph {
  position: absolute;
  left: -100px;
  margin: 0;
  transform: rotate(-90deg);
  font-family: $GilroySemibold;
  font-size: 15.2px;
  color: #ff4b39;
  text-transform: uppercase;
  z-index: 2;
  @include breakpoint(max-width 768px) {
    display: none;
  }
  &:before {
    counter-increment: counter;
    content: '0' counter(counter);
    position: absolute;
    top: 0;
    left: -84px;
  }
  &:after {
    content: '';
    position: absolute;
    left: -50px;
    height: 1px;
    width: 40px;
    top: 50%;
    background-color: #ccc;
  }
}
.brief.blog .wrap {
  position: relative;
  width: 92%;
  margin-left: 8%;
  z-index: 2;

  @include breakpoint(max-width 768px) {
    margin: 0 auto
  }
  @include breakpoint(max-width 500px) {
    width: 100%;
  }
}
.tittle {
  position: relative;
  display: flex;
  justify-content: space-between;

  @include breakpoint(max-width 992px) {
    flex-direction: column;
    text-align: center;
  }

  @include breakpoint(max-width 768px) {
    br {
      display: none;
    }
  }

  h2 {
    position: relative;
    margin-left: 90px;
    font-family: $GilroySemibold;
    font-size: 36px;
    color: $black;
    text-transform: uppercase;
    z-index: 2;
    margin-top: 0px;
    padding-top: 30px;
    @include breakpoint(max-width 1200px) {
      margin-left: 0;
      width: 100%;
    }
    @include breakpoint(max-width 500px) {
      font-size: 24px;
      margin-bottom: 0;
    }
  }
  span {
    position: absolute;
    top: 0;
    font-family: $GilroyExtrabold;
    font-size: 50px;
    color: $grey;
    text-transform: uppercase;
    z-index: 1;
    @include breakpoint(max-width 992px) {
      display: block;
      width: 100%;
    }
    @include breakpoint(max-width 500px) {
      font-size: 36px;
    }
  }
  p {
    font-family: $GilroyRegular;
    font-size: 16px;
    color: $darkGrey;
    font-style: italic;
    
    @include breakpoint(max-width 992px) {
      display: block;
      width: 93%;
      max-width: 100%;
    }

    @include breakpoint(max-width 576px) {
      font-size: 14px;
      line-height: 1.2;
      margin-left: 14px;
    }
  }
}
.animate-circle {
  position: absolute;
  height: 600px;
  width: 600px;
  background-color: #f5f4f4;
  border-radius: 50%;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    height: 370px;
    width: 370px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 54px rgba(0, 0, 0, 0.08);
    background-color: #fff;
  }
}
.red-dot {
  display: block;
  position: relative;
  size: 30px;
  border-radius: 50%;
  background-color: #ee4635;
  @include breakpoint(max-width 1200px) {
    display: none;
  }
  &:before {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #ee4635;
    background-color: transparent;
    height: 5px;
    width: 5px;
    position: absolute;
    transition: 1s;
    animation: small-round 1s linear infinite;
  }
  &:after {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #ee4635;
    background-color: transparent;
    height: 5px;
    width: 5px;
    position: absolute;
    transition: 1s;
    animation: big-round 1s linear infinite;
  }
}

.not_error {
  border-color: #165EB8;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    text-indent: -9999px;
    background: url('../img/totop.png') no-repeat;
    background-position: center -57px;
    border-radius: 50px;
    opacity: 0.5;
    z-index: 3;

    &:hover {
        background-position: center -6px;
    }

    @include breakpoint(max-width 576px) {
        right: 20px;
        bottom: 30px;
    }
}

@keyframes flying {
  0% {
    transform: translate(0px, 20px);
  }
  12% {
    transform: translate(75px, 40px);
  }
  25% {
    transform: translate(150px, 0px);
  }
  37% {
    transform: translate(225px, 40px);
  }
  50% {
    transform: translate(300px, 20px);
  }
  63% {
    transform: translate(225px, 40px);
  }
  75% {
    transform: translate(150px, 0px);
  }
  88% {
    transform: translate(75px, 40px);
  }
  100% {
    transform: translate(0px, 20px);
  }
}

@keyframes pulse {
  0% {
    @include transform(scale(.9));
  }
  70% {
    @include transform(scale(1));
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
    100% {
    @include transform(scale(.9));
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}

.single-p__soc,
  .soc__block,
  .single__order {
    display: flex;
    align-items: center;

    @include breakpoint(max-width 992px) {
      flex-wrap: wrap;
    }

    @include breakpoint(max-width 450px) {
      justify-content: center;
    }
  }

  .single-p__soc,
  .single__order {
    justify-content: space-between;
    padding: 30px 0;

    @include breakpoint(max-width 992px) {
      padding: 20px 0;
    }

    @include breakpoint(max-width 768px) {
      justify-content: flex-start;
    }
  }

  .soc__icon {
    width: 38px;
    height: 38px;
    margin-right: 10px;
    color: white;
    background-color: #cacaca;
    border-radius: 50%;
    transition: all 0.2s;

    &:hover {
      transform: scale(0.9);
      transition: all 0.2s;
    }

    a {
      position: relative;
      top: 1px;
      left: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  .soc__be {
    @include breakpoint(max-width 768px) {
      margin-right: 20px;
    }

    @include breakpoint(max-width 450px) {
      width: 100%;
      margin-right: 0;
    }

    .soc__icon a {
      top: 0;
    }

    .soc__icon:hover {
      background-color: #3a6ffe;
    }
  }

  .soc__pin {
    .soc__icon:hover {
      background-color: #bd081c;
    }

    @include breakpoint(max-width 992px) {
      margin-top: 10px;
    }

    @include breakpoint(max-width 768px) {
      margin-top: 0;
    }

    @include breakpoint(max-width 450px) {
      width: 100%;
      margin-top: 10px;
    }
  }

  .soc__desc {
    width: 125px;
  }

  .soc__desc p {
    margin: 0;
    font-family: $GilroyLight;
    font-size: 13px;
    color: #282828;
  }
  
  .soc__desc a {
    display: block;
    font-family: $GilroySemibold;
    font-size: 14px;
    color: #ff4834;

    &:hover, &:active, &:focus {
      color: #d32f2f;
    }
  }

   .brief__form {
    width: 735px;
    margin-right: 76px;
    padding: 55px 61px 45px 61px;
    box-sizing: border-box;
    box-shadow: 0px 30px 63px rgba(0,0,0,.13);
    border-radius: 10px;
    background-color: #ffffff;

    @include breakpoint(max-width 1200px) {
      margin: 0;
    }

    @include breakpoint(max-width 768px) {
      padding: 20px;
    }

    @include breakpoint(max-width 576px) {
      padding: 10px;
      padding-bottom: 30px;
    }

    ::placeholder {
      color: #4f5362;
      opacity: 0.3;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
      position: relative;
      width: 290px;
      margin-top: 5px;
      padding: 10px 22px;
      font-size: 14px;
      color: #4f5362;
      border: none;
      border-radius: 20px;
      background-color: #eff0f4;
      box-sizing: border-box;
      transition: all 0.2s;

      @include breakpoint(max-width 630px) {
        width: 100%
      }

      &:focus {
        box-shadow: 5px 7px 18px rgba(173, 178, 199, 0.62);
        border-radius: 20px;
        background-color: #ffffff;
        transition: all 0.2s;
        z-index: 2;
      }
    }

    label {
      padding-left: 22px;
      font-size: 14px;
      color: #282828;
      font-family: $GilroySemibold;
      font-weight: normal;
    }

    span.error-box {
      display: block;
      height: 10px;
      width: 20px;
      position: absolute;
      font-size: 20px;
      top: 20px;
      right: 30px;
      color: #eb4534;
    }
  }

  .brief__form-head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      position: relative;
      width: 290px;

      @include breakpoint(max-width 630px) {
        width: 100%
      }

      &:nth-child(2) {
        @include breakpoint(max-width 630px) {
          margin-top: 20px;
        }
      }

      &:nth-child(3),
      &:nth-child(4) {
        margin-top: 20px;
      }

      label {
        width: 100%;
      }
    }
  }

  .brief__form-message {
    position: relative;
    width: 100%;
    margin-top: 25px;

    textarea {
      width: 100%;
      min-height: 104px;
      box-sizing: border-box;
      border-radius: 10px;
      resize: none;
    }


  }

    
    .brief__form-services {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;

      h3 {
        width: 100%;
        margin: 0;
        padding-left: 15px;
        font-family: $GilroyBold;
        font-size: 16px;
        color: #282828;
        letter-spacing: 0.16px;
      }

      span {
        position: relative;
        display: inline-block;
        height: 13px;
        width: 13px;
        margin-right: 10px;
        padding: 0;
        border: 1px solid #9fa3a7;
        border-radius: 50%;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.2s;
        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          border-radius: 50%;
          background-color: #eb4534;
        }
      }

      label {
        margin-top: 15px;
        padding-left: 15px;
        cursor: pointer;
      }

      input[type="checkbox"] {
        display: none;
      }

      input[type="checkbox"]:checked + label > span {
        height: 13px;
        width: 13px;
        transition: all 0.2s;

        &:before {
          top: 1px;
          left: 1px;
          width: 9px;
          height: 9px;
          background-color: #eb4534;
        }
      }
    }

    .brief__form-desc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      @include breakpoint(max-width 500px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      #submit,
      #submit_feedback {
        padding: 10px 45px;
        font-size: 14px;
        color: white;
        background-color: #ee4635;
        border: 1px solid #ee4635;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.2s;

        @include breakpoint(max-width 500px) {
          margin-top: 10px;
        }

        &:hover, &:focus, &:active {
          transform: scale(0.9);
          transition: all 0.2s;
        }
      }

      p {
        margin: 0;
        padding-left: 15px;
        font-family: $GilroySemibold;
        font-size: 13px;
        color: #9fa3a7;

        @include breakpoint(max-width 500px) {
          width: 100%;
          padding: 0;
          text-align: center;
        }

        span {
          vertical-align: bottom;
          color: #ee4635;
        }
      }
    }

.flex {
  display: flex !important;
}

.black-text {
  color: #282828;
}

.tittle .title {
  position: absolute;
  top: 0;
  font-family: GilroyExtrabold,sans-serif;
  font-size: 50px;
  color: #e4e5e5;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .tittle .title {
    width: 100%;
  }
}