.brief_footer {
	padding-bottom: 100vh;
	//background-image: url(../img/bgfooter2.png);
	background-size: cover;
    padding-bottom: 600px;
}

@media (max-width: 1200px) {
	.brief_footer {
		background-size: contain;
	}
}

@media (max-width: 6000px) {
	.brief_footer {
		//padding-bottom: 480px;
		padding-bottom: 1435px;
	}
}

@media (max-width: 2000px) {
	.brief_footer {
		//padding-bottom: 480px;
		padding-bottom: 940px;
	}
}

@media (max-width: 1500px) {
	.brief_footer {
		//padding-bottom: 480px;
		padding-bottom: 620px;
	}
}

@media (max-width: 1200px) {
	.brief_footer {
		padding-bottom: 480px;
	}
}

@media (max-width: 1000px) {
	.brief_footer {
		padding-bottom: 500px;
	}

}

.footer-copyright {
	position: absolute;
	bottom: 0;
	background-color: rgba(26, 34, 38, 0.8);
	display: flex;
	flex-direction: row;
	color: white;
	width: 100%;
	justify-content: space-around;
}

.footer-copyright-left,
.footer-copyright-right {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer-copyright-left p,
.footer-copyright-right p {
	margin-right: 40px;
	color: #FFFFFF;
}

.footer-copyright-left p {
	font-size: 14px;
}

.footer-copyright-right p {
	font-family: GilroySemibold, sans-serif;
}

.fab {
	border: 1px solid #4c5a60;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 5px;
}

.fa-vk:before {
	position: relative;
	top: 5px;
	left: 3px;
	color: #65747c;
}

.fab:hover {
	border: 1px solid #ffffff;
}

.fa-vk:hover:before {
	color: #ffffff;
}

.fa-facebook-f:before {
	position: relative;
	top: 5px;
	left: 8px;
	color: #65747c;
}

.fa-facebook-f:hover:before {
	color: #ffffff;
}

.fa-instagram:before {
	position: relative;
	top: 5px;
	left: 5px;
	color: #65747c;
}

.fa-instagram:hover:before {
	color: #ffffff;
}

.footer-socmenu {
	display: flex;
	flex-direction: row;
}

.footer-phone {
	display: flex;
	flex-direction: row;
}

@media (max-width: 900px) {
	.footer-copyright {
		flex-direction: column-reverse;
	}
	.footer-copyright-left, .footer-copyright-right {
		justify-content: center;
	}
}

@media (max-width: 500px) {
	.footer-copyright {
		flex-direction: column;
		justify-content: flex-start;
	}
	.footer-copyright-left {
		flex-direction: column;
		//margin-left: 20px;
	}
	.footer-copyright-left p, .footer-copyright-right p {
		margin: 3px;
	}
	.footer-phone {
		flex-direction: column;
	}
	.footer-copyright-right {
		flex-direction: column;
		//margin-left: 20px;
	}
	.footer-socmenu {
		flex-direction: row;
		margin-bottom: 3px;
	}
	.fab {
		margin: 2px 10px;
	}
}