.brief_footer {
	padding-bottom: 100vh;
	//background-image: url(../img/bgfooter2.png);
	background-size: contain;
    padding-bottom: 600px;
}

@media (max-width: 1200px) {
	.brief_footer {
		background-size: contain;
	}
}

@media (max-width: 6000px) {
	.brief_footer {
		padding-bottom: 1435px;
		background-size: cover;
	}
}

@media (max-width: 2000px) {
	.brief_footer {
		padding-bottom: 700px;
      background-size: contain;
	}
}

@media (max-width: 1500px) {
	.brief_footer {
		padding-bottom: 620px;
      background-size: contain;
	}
}

@media (max-width: 1200px) {
	.brief_footer {
		padding-bottom: 480px;
      background-size: contain;
	}
}

@media (max-width: 1000px) {
	.brief_footer {
		padding-bottom: 600px;
      background-size: contain;
	}
}

@media (max-width: 320px) {
	.brief_footer {
		padding-bottom: 600px;
		background-size: 133%;
	}
}

.footer-section {
  position: relative;
}

.footer-copyri {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(34, 39, 42, 0.8);
}

.footer-copyright {
	//position: absolute;
	//bottom: 0;
	display: flex;
	flex-direction: row;
	color: white;
	width: 100%;
	justify-content: space-around;
}

@media (max-width: 768px) {
  .footer-copyri {
    background-color: rgb(34, 39, 42);
  }
}

.footer-copyright-left,
.footer-copyright-right {
	display: flex;
	flex-direction: row;
	align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-copyright-left p,
.footer-copyright-right p {
	margin-right: 40px;
	color: #FFFFFF;
}

.footer-copyright-left p {
	font-size: 14px;
}

.footer-copyright-right p {
	font-family: GilroySemibold, sans-serif;
}

.fab {
	border: 1px solid #ffffff;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 5px;
}

.fa-vk:before {
	position: relative;
	top: 5px;
	left: 3px;
	color: #ffffff;
}

.fab:hover {
	border: 1px solid #ff4834;
	background-color: #ff4834;
}

.fa-vk:hover:before {
	color: #ffffff;
}

.fa-facebook-f:before {
	position: relative;
	top: 5px;
	left: 8px;
	color: #ffffff;
}

.fa-facebook-f:hover:before {
	color: #ffffff;
}

.fa-instagram:before {
	position: relative;
	top: 4px;
	left: 5.3px;
	color: #ffffff;
}

.fa-instagram:hover:before {
	color: #ffffff;
}

.footer-socmenu {
	display: flex;
	flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-phone {
	display: flex;
	flex-direction: row;
}


@media (max-width: 900px) {
	.footer-copyright {
		flex-direction: column-reverse;
	}
	.footer-copyright-left, .footer-copyright-right {
		justify-content: center;
	}
}

@media (max-width: 800px) {
  .footer-copyri {
    position: static;
  }
  .footer-socmenu {
    margin-top: 15px;
  }
  .fab {
    width: 35px;
    height: 35px;
  }
  .fa-vk:before {
    top: 10px;
    left: 7px;
  }
  .fa-facebook-f:before {
    top: 9px;
    left: 13px;
  }
  .fa-instagram:before {
    top: 9px;
    left: 10.2px;
  }
}

@media (max-width: 500px) {
	.footer-copyright {
		flex-direction: column-reverse;
		justify-content: flex-start;
	}
	.footer-copyright-left {
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
	}
	.footer-copyright-left p, .footer-copyright-right p {
		margin: 3px;
	}
	.footer-phone {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
	}
	.footer-copyright-right {
    margin-bottom: 15px;
		flex-direction: row;
    margin-left: 0;
    margin-right: 0;
	}
	.footer-socmenu {
		flex-direction: row;
    margin-bottom: 15px;
	}
	.fab {
		margin: 2px 10px;
	}
}

@media (max-width: 320px) {
  .footer-copyright-left {
    display: none;
  }
  .footer-copyright {
    flex-direction: row;
  }
  .footer-phone {
    flex-direction: column;
  }
  .footer-phone :first-child {
    color: #ff4834;
  }
  .footer-copyright-right {
    margin: 15px;
  }
  .fab {
    margin: 2px 4px;
  }
}

.fancybox-caption a {
	padding-left: 5px;
}