.footer {
  &-section {
    background-color: #1a2226;
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 50px;
    color: #fff;
    font-size: 14px;
    @media (max-width: 991px) {
      padding: 30px 40px;
    }
    @media (max-width: 767px) {
      padding: 30px 30px;
    }
    @media (max-width: 575px) {
      padding: 30px 10px;
    }
    a,
    button {
      transition: all.5s ease;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin: 12px;
    &-main {
      width: 100%;
    }
  }
  &__link {
    margin-bottom: 10px;
    color: inherit;
    font-family: $GilroyMedium;
    &:hover {
      color: $red;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &-contacts {
      margin: 5px;
      color: inherit;
      font-family: $GilroySemibold;
      font-size: 15px;
      &:hover {
        color: $red;
      }
    }
  }
  &__p {
    margin: 0 0 19px;
    &:last-child {
      margin: 0;
    }
  }
  &__last {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__btn {
    margin-right: 25px;
    margin-bottom: 5px;
    padding: 4px 25px;
    font-size: 16px;
    font-family: $GilroySemibold;
    color: inherit;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 18px;
    &:hover {
      background-color: $red;
      border: 1px solid $red;
    }
  }
}

.brief_footer {
	padding-bottom: 100vh;
	//background-image: url(../img/bgfooter2.png);
	background-size: contain;
    padding-bottom: 600px;
}

@media (max-width: 1200px) {
	.brief_footer {
		background-size: contain;
	}
}

@media (max-width: 6000px) {
	.brief_footer {
		padding-bottom: 1435px;
		background-size: cover;
	}
}

@media (max-width: 3500px) {
  .brief_footer {
    padding-bottom: 1435px;
    background-size: cover;
  }
}

@media (max-width: 2000px) {
	.brief_footer {
		padding-bottom: 850px;
      background-size: cover;
	}
}

@media (max-width: 1500px) {
	.brief_footer {
		padding-bottom: 640px;
      background-size: cover;
	}
}

@media (max-width: 1200px) {
	.brief_footer {
		padding-bottom: 520px;
      background-size: cover;
	}
}

@media (max-width: 1000px) {
	.brief_footer {
		padding-bottom: 600px;
      background-size: cover;
	}
}

@media (max-width: 320px) {
	.brief_footer {
		padding-bottom: 600px;
		background-size: 133%;
	}
}

.footer-section {
  position: relative;
}

.footer-copyri {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(34, 39, 42, 0.8);
}

.footer-copyright {
	//position: absolute;
	//bottom: 0;
	display: flex;
	flex-direction: row;
	color: white;
	width: 100%;
	justify-content: space-around;
}

@media (max-width: 768px) {
  .footer-copyri {
    background-color: rgb(34, 39, 42);
  }
}

.footer-copyright-left,
.footer-copyright-right {
	display: flex;
	flex-direction: row;
	align-items: center;

}

.footer-copyright-left {
  margin-right: auto;
	margin-left: 40px;
}

.footer-copyright-right {
  margin-left: auto
}

.footer-copyright-left p,
.footer-copyright-right p {
	margin-right: 40px;
	color: #FFFFFF;
}

.footer-copyright-left p {
	font-size: 14px;
}

.footer-copyright-right p {
	font-family: GilroySemibold, sans-serif;
}

.fab {
	//border: 1px solid #ffffff;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 5px;
  transition: background-color ease .5s;
}

.fa-vk:before {
	position: relative;
	top: 5px;
	left: 3px;
	color: #ffffff;
}

.fab path {
  fill: #ffffff;
}

.fab:hover {
	//border: 1px solid #ff4834;
	background-color: #ff4834;
  transition: background-color ease .5s;
}

.fab:hover .path-fab {
  //border: 1px solid #ff4834;
  fill: #ff4834;
}

.fa-vk:hover:before {
	color: #ffffff;
}

.fa-facebook-f:before {
	position: relative;
	top: 5px;
	left: 8px;
	color: #ffffff;
}

.fa-facebook-f:hover:before {
	color: #ffffff;
}

.fa-instagram:before {
	position: relative;
	top: 4px;
	left: 5.3px;
	color: #ffffff;
}

.fa-instagram:hover:before {
	color: #ffffff;
}

.footer-socmenu {
	display: flex;
	flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.footer-phone {
	display: flex;
	flex-direction: row;
}


@media (max-width: 900px) {
	.footer-copyright {
		flex-direction: column-reverse;
	}
	.footer-copyright-left, .footer-copyright-right {
		justify-content: center;
    margin: 0;
	}
}

@media (max-width: 800px) {
  .footer-copyri {
    position: static;
  }
  .fab {
    width: 35px;
    height: 35px;
  }
  .fa-vk:before {
    top: 10px;
    left: 7px;
  }
  .fa-facebook-f:before {
    top: 9px;
    left: 13px;
  }
  .fa-instagram:before {
    top: 9px;
    left: 10.2px;
  }
}

@media (max-width: 500px) {
	.footer-copyright {
		flex-direction: column-reverse;
		justify-content: flex-start;
	}
	.footer-copyright-left {
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
	}
	.footer-copyright-left p, .footer-copyright-right p {
		margin: 3px;
	}
	.footer-phone {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
	}
	.footer-copyright-right {
    margin-bottom: 15px;
		flex-direction: row;
    margin-left: 0;
    margin-right: 0;
	}
	.fab {
		margin: 2px 10px;
	}
}

@media (max-width: 320px) {
  .footer-copyright-left {
    display: none;
  }
  .footer-copyright {
    flex-direction: row;
  }
  .footer-phone {
    flex-direction: column;
  }
  .footer-phone :first-child {
    color: #ff4834;
  }
  .footer-copyright-right {
    margin: 15px;
  }
  .fab {
    margin: 2px 4px;
  }
}

.fancybox-caption a {
	padding-left: 5px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 769px) {
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}